// Side menu
side-menu {
  z-index: 1;
}

/* Style for scrollbar on webkit browsers in windows - looks nice already on other operating systems ;)
.os-windows side-menu {
  &::-webkit-scrollbar {
    width: 8px;
    background: rgba(0,0,0,0.1);
    transition: all .2s
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: rgba(0,0,0,0.15);
    border-radius: 4px;
    transition: all .2s
  }
}
*/

// Side menu shrink/grow icon
.sidebar-left-icon {
  display: none;
  md-icon {
    transform: rotate(90deg);
    transition: all .2s;
  }
  .md-locked-open & {
    display: block;
  }
}

.side-menu-link {
  display: block;
  text-align: left;
  width: 100%;
  min-width: 18em;
  height: 48px;
  padding: 0px 16px;
  margin: 0px;
  text-transform: none;
  border-radius: 0 !important;
  white-space: normal;
  line-height: 48px;
  position: relative;
  z-index: 2;
  box-shadow: none !important;
  transform: translate3d(0,0,0);
  &:hover, &:focus {
    transform: translate3d(1,2,0);
    background-color: #333333 !important;
  }

  .uppercase-all & {
    text-transform: uppercase;
  }
  .uppercase-top-level & {
    text-transform: uppercase;
  }
  .uppercase-top-level .drop-down-list & {
      text-transform: none;
  }
}
.side-menu-icon[md-font-icon], .menu-toggle-icon[md-font-icon] {
  height: 100%;
  line-height: inherit;
  font-size: 1.5rem;
}
.side-menu-icon[md-font-icon] {
  width: 24px;
}
.menu-toggle-icon {
  text-align: center;
  float: right;
  transition: all .5s;
  &.open {
    transform: rotate(90deg);
  }
}

// Side menu levels
.drop-down-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 1300px;
  transition-property: max-height;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 1s;

  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 3;
  }
  &:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
  }
  &:after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
  }
  .drop-down-list &:before, .drop-down-list &:after {
    display: none;
  }
  &.ng-hide {
    max-height: 0;
  }
  .side-menu-link {
    padding-left: 16px;
    transition: all 0.5s;
    position: relative;
    &:after {
      position: absolute;
      z-index: 1;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      width: 18em;
    }
    span {
      position: relative;
      z-index: 2;
    }
  }
}


// Multiple levels
$submenu-overlay: #999999;

.drop-down-list:not(.ng-hide) {
  .side-menu-link {
    padding-left: 44px;
    position: relative;
    &:after {
      background: rgba($submenu-overlay, .15);
    }
  }
  .drop-down-list:not(.ng-hide) {
    .side-menu-link {
      padding-left: 60px;
      &:after {
        background: rgba($submenu-overlay, .2);
      }
    }
    .drop-down-list:not(.ng-hide) {
      .side-menu-link {
        padding-left: 76px;
        &:after {
          background: rgba($submenu-overlay, .3);
        }
      }
      .drop-down-list:not(.ng-hide) {
        .side-menu-link {
          padding-left: 92px;
          &:after {
            background: rgba($submenu-overlay, .4);
          }
        }
      }
    }
  }
}

// Collapsible Menu
.admin-sidebar-collapsed.md-locked-open {
  .sidebar-left-title, .sidebar-left-icon {
    opacity: 0;
    transition: all .2s;
    transition-delay: .3s;
  }
  .side-menu-link span {
    opacity: 0;
    transition: all .2s;
    transition-delay: .3s;
  }
  .drop-down-list {
    max-height: 0;
  }
  &.hover {
    .sidebar-left-title, .sidebar-left-icon {
      opacity: 1;
    }
    .side-menu-link span {
      opacity: 1;
    }
    .drop-down-list {
      max-height: 1300px;
      &.ng-hide {
        max-height: 0;
      }
    }
  }
}

.menu-open-in-new-window-icon-style
{
    font-size: 25px !important;
    padding-right: 25px;
}

.menu-open-in-new-window-button-style
{
    padding-right: 6px;
    width: 41px;
    max-width: 41px;
    min-width: 41px;
    height: 48px;
    margin: 0px 2px 0px 2px;
}
