<div layout="row" layout-align="start center" ng-if="item.enable">
	<md-button ng-click="openLink()" class="md-primary md-raised side-menu-link" ng-class="activeClass()">
	    <md-icon ng-if="item.icon !== undefined" class="side-menu-icon">{{item.icon}}</md-icon>
	    {{item.name}}
	</md-button>
</div>
