<md-button ng-click="toggleMenu()" class="md-raised md-primary side-menu-link">
    <md-icon ng-if="item.icon !== undefined" class="side-menu-icon">{{item.icon}}</md-icon>
    {{item.name}}
    <md-icon class="menu-toggle-icon" md-font-icon="icon-keyboard-arrow-right" ng-class="{ open: item.open }"></md-icon>
</md-button>
<ul class="drop-down-list" ng-show="item.open">
    <li ng-repeat="child in item.children | orderBy:'priority'">
        <side-menu-item item="child"></side-menu-item>
    </li>
</ul>