<div layout="row" layout-align="start center" ng-model="stateObj" tabindex="-1" ng-cloak>
	
	<!-- These tags represent the clickable states that the user can use to go back -->
	<div ng-repeat="tag in stateObj.oldStates" layout="row" layout-align="start center" class="migrator-breadcrumb-style">
		<div class="migrator-toolbar-breadcrumbs-style" layout="row" layout-align="start center" ng-click="changeState(tag.stateName)" tabindex="-1">
			<div ng-hide="title.mainIcon==null">
				<div class='toolbar-icon-container-style' layout='row' layout-align='center center'><span class='shrink'><md-icon flex='100' class='{{title.mainIconClass}}'>{{title.mainIcon}}</md-icon><md-icon flex='0' class='{{title.hoverIconClass}}'>{{title.hoverIcon}}</md-icon><md-icon flex='0' class='{{title.intraIconClass}}'>{{title.intraIcon}}</md-icon></span></div>
			</div>
			<div class="md-headline font-weight-400 text-center migrator-breadcrumb-style" layout="column" layout-align="center start">
				<span class="shrink toolbar-title-label-style" ng-bind="tag.alias"></span>
			</div>
			<md-icon>keyboard_arrow_right</md-icon>
		</div>
	</div>
</div>