<div layout="row" layout-align="end center" ng-model="states" tabindex="-1" flex>
	<div ng-repeat="state in states" layout="row" layout-align="start center" ng-hide="checkActiveStateForActionIcons(state)">
		<div ng-repeat="actionIcon in state.actionIcons" layout="row" layout-align="start center">
		    <md-button tabindex="-1" class="migrator-custom-toolbar-icon" ng-hide="actionIcon.hidden"  aria-label="actionIcon.iconName" ng-click="handleActionIconClick($event, actionIcon.action)">
		        <md-icon class="material-icons {{actionIcon.iconClass}} {{actionIcon.isActivated==true?actionIcon.activeClass:null}}">{{actionIcon.iconName}}</md-icon>
		        <md-tooltip>{{actionIcon.tooltip}}</md-tooltip>
		    </md-button>
	    </div>
	</div>
</div>