.mmdi_3d_rotation:before { content: "\e84d"; }

.mmdi_ac_unit:before { content: "\eb3b"; }

.mmdi_access_alarm:before { content: "\e190"; }

.mmdi_access_alarms:before { content: "\e191"; }

.mmdi_access_time:before { content: "\e192"; }

.mmdi_accessibility:before { content: "\e84e"; }

.mmdi_accessible:before { content: "\e914"; }

.mmdi_account_balance:before { content: "\e84f"; }

.mmdi_account_balance_wallet:before { content: "\e850"; }

.mmdi_account_box:before { content: "\e851"; }

.mmdi_account_circle:before { content: "\e853"; }

.mmdi_adb:before { content: "\e60e"; }

.mmdi_add:before { content: "\e145"; }

.mmdi_add_a_photo:before { content: "\e439"; }

.mmdi_add_alarm:before { content: "\e193"; }

.mmdi_add_alert:before { content: "\e003"; }

.mmdi_add_box:before { content: "\e146"; }

.mmdi_add_circle:before { content: "\e147"; }

.mmdi_add_circle_outline:before { content: "\e148"; }

.mmdi_add_location:before { content: "\e567"; }

.mmdi_add_shopping_cart:before { content: "\e854"; }

.mmdi_add_to_photos:before { content: "\e39d"; }

.mmdi_add_to_queue:before { content: "\e05c"; }

.mmdi_adjust:before { content: "\e39e"; }

.mmdi_airline_seat_flat:before { content: "\e630"; }

.mmdi_airline_seat_flat_angled:before { content: "\e631"; }

.mmdi_airline_seat_individual_suite:before { content: "\e632"; }

.mmdi_airline_seat_legroom_extra:before { content: "\e633"; }

.mmdi_airline_seat_legroom_normal:before { content: "\e634"; }

.mmdi_airline_seat_legroom_reduced:before { content: "\e635"; }

.mmdi_airline_seat_recline_extra:before { content: "\e636"; }

.mmdi_airline_seat_recline_normal:before { content: "\e637"; }

.mmdi_airplanemode_active:before { content: "\e195"; }

.mmdi_airplanemode_inactive:before { content: "\e194"; }

.mmdi_airplay:before { content: "\e055"; }

.mmdi_airport_shuttle:before { content: "\eb3c"; }

.mmdi_alarm:before { content: "\e855"; }

.mmdi_alarm_add:before { content: "\e856"; }

.mmdi_alarm_off:before { content: "\e857"; }

.mmdi_alarm_on:before { content: "\e858"; }

.mmdi_album:before { content: "\e019"; }

.mmdi_all_inclusive:before { content: "\eb3d"; }

.mmdi_all_out:before { content: "\e90b"; }

.mmdi_android:before { content: "\e859"; }

.mmdi_announcement:before { content: "\e85a"; }

.mmdi_apps:before { content: "\e5c3"; }

.mmdi_archive:before { content: "\e149"; }

.mmdi_arrow_back:before { content: "\e5c4"; }

.mmdi_arrow_downward:before { content: "\e5db"; }

.mmdi_arrow_drop_down:before { content: "\e5c5"; }

.mmdi_arrow_drop_down_circle:before { content: "\e5c6"; }

.mmdi_arrow_drop_up:before { content: "\e5c7"; }

.mmdi_arrow_forward:before { content: "\e5c8"; }

.mmdi_arrow_upward:before { content: "\e5d8"; }

.mmdi_art_track:before { content: "\e060"; }

.mmdi_aspect_ratio:before { content: "\e85b"; }

.mmdi_assessment:before { content: "\e85c"; }

.mmdi_assignment:before { content: "\e85d"; }

.mmdi_assignment_ind:before { content: "\e85e"; }

.mmdi_assignment_late:before { content: "\e85f"; }

.mmdi_assignment_return:before { content: "\e860"; }

.mmdi_assignment_returned:before { content: "\e861"; }

.mmdi_assignment_turned_in:before { content: "\e862"; }

.mmdi_assistant:before { content: "\e39f"; }

.mmdi_assistant_photo:before { content: "\e3a0"; }

.mmdi_attach_file:before { content: "\e226"; }

.mmdi_attach_money:before { content: "\e227"; }

.mmdi_attachment:before { content: "\e2bc"; }

.mmdi_audiotrack:before { content: "\e3a1"; }

.mmdi_autorenew:before { content: "\e863"; }

.mmdi_av_timer:before { content: "\e01b"; }

.mmdi_backspace:before { content: "\e14a"; }

.mmdi_backup:before { content: "\e864"; }

.mmdi_battery_alert:before { content: "\e19c"; }

.mmdi_battery_charging_full:before { content: "\e1a3"; }

.mmdi_battery_full:before { content: "\e1a4"; }

.mmdi_battery_std:before { content: "\e1a5"; }

.mmdi_battery_unknown:before { content: "\e1a6"; }

.mmdi_beach_access:before { content: "\eb3e"; }

.mmdi_beenhere:before { content: "\e52d"; }

.mmdi_block:before { content: "\e14b"; }

.mmdi_bluetooth:before { content: "\e1a7"; }

.mmdi_bluetooth_audio:before { content: "\e60f"; }

.mmdi_bluetooth_connected:before { content: "\e1a8"; }

.mmdi_bluetooth_disabled:before { content: "\e1a9"; }

.mmdi_bluetooth_searching:before { content: "\e1aa"; }

.mmdi_blur_circular:before { content: "\e3a2"; }

.mmdi_blur_linear:before { content: "\e3a3"; }

.mmdi_blur_off:before { content: "\e3a4"; }

.mmdi_blur_on:before { content: "\e3a5"; }

.mmdi_book:before { content: "\e865"; }

.mmdi_bookmark:before { content: "\e866"; }

.mmdi_bookmark_border:before { content: "\e867"; }

.mmdi_border_all:before { content: "\e228"; }

.mmdi_border_bottom:before { content: "\e229"; }

.mmdi_border_clear:before { content: "\e22a"; }

.mmdi_border_color:before { content: "\e22b"; }

.mmdi_border_horizontal:before { content: "\e22c"; }

.mmdi_border_inner:before { content: "\e22d"; }

.mmdi_border_left:before { content: "\e22e"; }

.mmdi_border_outer:before { content: "\e22f"; }

.mmdi_border_right:before { content: "\e230"; }

.mmdi_border_style:before { content: "\e231"; }

.mmdi_border_top:before { content: "\e232"; }

.mmdi_border_vertical:before { content: "\e233"; }

.mmdi_brightness_1:before { content: "\e3a6"; }

.mmdi_brightness_2:before { content: "\e3a7"; }

.mmdi_brightness_3:before { content: "\e3a8"; }

.mmdi_brightness_4:before { content: "\e3a9"; }

.mmdi_brightness_5:before { content: "\e3aa"; }

.mmdi_brightness_6:before { content: "\e3ab"; }

.mmdi_brightness_7:before { content: "\e3ac"; }

.mmdi_brightness_auto:before { content: "\e1ab"; }

.mmdi_brightness_high:before { content: "\e1ac"; }

.mmdi_brightness_low:before { content: "\e1ad"; }

.mmdi_brightness_medium:before { content: "\e1ae"; }

.mmdi_broken_image:before { content: "\e3ad"; }

.mmdi_brush:before { content: "\e3ae"; }

.mmdi_bug_report:before { content: "\e868"; }

.mmdi_build:before { content: "\e869"; }

.mmdi_business:before { content: "\e0af"; }

.mmdi_business_center:before { content: "\eb3f"; }

.mmdi_cached:before { content: "\e86a"; }

.mmdi_cake:before { content: "\e7e9"; }

.mmdi_call:before { content: "\e0b0"; }

.mmdi_call_end:before { content: "\e0b1"; }

.mmdi_call_made:before { content: "\e0b2"; }

.mmdi_call_merge:before { content: "\e0b3"; }

.mmdi_call_missed:before { content: "\e0b4"; }

.mmdi_call_missed_outgoing:before { content: "\e0e4"; }

.mmdi_call_received:before { content: "\e0b5"; }

.mmdi_call_split:before { content: "\e0b6"; }

.mmdi_camera:before { content: "\e3af"; }

.mmdi_camera_alt:before { content: "\e3b0"; }

.mmdi_camera_enhance:before { content: "\e8fc"; }

.mmdi_camera_front:before { content: "\e3b1"; }

.mmdi_camera_rear:before { content: "\e3b2"; }

.mmdi_camera_roll:before { content: "\e3b3"; }

.mmdi_cancel:before { content: "\e5c9"; }

.mmdi_card_giftcard:before { content: "\e8f6"; }

.mmdi_card_membership:before { content: "\e8f7"; }

.mmdi_card_travel:before { content: "\e8f8"; }

.mmdi_casino:before { content: "\eb40"; }

.mmdi_cast:before { content: "\e307"; }

.mmdi_cast_connected:before { content: "\e308"; }

.mmdi_center_focus_strong:before { content: "\e3b4"; }

.mmdi_center_focus_weak:before { content: "\e3b5"; }

.mmdi_change_history:before { content: "\e86b"; }

.mmdi_chat:before { content: "\e0b7"; }

.mmdi_chat_bubble:before { content: "\e0ca"; }

.mmdi_chat_bubble_outline:before { content: "\e0cb"; }

.mmdi_check:before { content: "\e5ca"; }

.mmdi_check_box:before { content: "\e834"; }

.mmdi_check_box_outline_blank:before { content: "\e835"; }

.mmdi_check_circle:before { content: "\e86c"; }

.mmdi_chevron_left:before { content: "\e5cb"; }

.mmdi_chevron_right:before { content: "\e5cc"; }

.mmdi_child_care:before { content: "\eb41"; }

.mmdi_child_friendly:before { content: "\eb42"; }

.mmdi_chrome_reader_mode:before { content: "\e86d"; }

.mmdi_class:before { content: "\e86e"; }

.mmdi_clear:before { content: "\e14c"; }

.mmdi_clear_all:before { content: "\e0b8"; }

.mmdi_close:before { content: "\e5cd"; }

.mmdi_closed_caption:before { content: "\e01c"; }

.mmdi_cloud:before { content: "\e2bd"; }

.mmdi_cloud_circle:before { content: "\e2be"; }

.mmdi_cloud_done:before { content: "\e2bf"; }

.mmdi_cloud_download:before { content: "\e2c0"; }

.mmdi_cloud_off:before { content: "\e2c1"; }

.mmdi_cloud_queue:before { content: "\e2c2"; }

.mmdi_cloud_upload:before { content: "\e2c3"; }

.mmdi_code:before { content: "\e86f"; }

.mmdi_collections:before { content: "\e3b6"; }

.mmdi_collections_bookmark:before { content: "\e431"; }

.mmdi_color_lens:before { content: "\e3b7"; }

.mmdi_colorize:before { content: "\e3b8"; }

.mmdi_comment:before { content: "\e0b9"; }

.mmdi_compare:before { content: "\e3b9"; }

.mmdi_compare_arrows:before { content: "\e915"; }

.mmdi_computer:before { content: "\e30a"; }

.mmdi_confirmation_number:before { content: "\e638"; }

.mmdi_contact_mail:before { content: "\e0d0"; }

.mmdi_contact_phone:before { content: "\e0cf"; }

.mmdi_contacts:before { content: "\e0ba"; }

.mmdi_content_copy:before { content: "\e14d"; }

.mmdi_content_cut:before { content: "\e14e"; }

.mmdi_content_paste:before { content: "\e14f"; }

.mmdi_control_point:before { content: "\e3ba"; }

.mmdi_control_point_duplicate:before { content: "\e3bb"; }

.mmdi_copyright:before { content: "\e90c"; }

.mmdi_create:before { content: "\e150"; }

.mmdi_create_new_folder:before { content: "\e2cc"; }

.mmdi_credit_card:before { content: "\e870"; }

.mmdi_crop:before { content: "\e3be"; }

.mmdi_crop_16_9:before { content: "\e3bc"; }

.mmdi_crop_3_2:before { content: "\e3bd"; }

.mmdi_crop_5_4:before { content: "\e3bf"; }

.mmdi_crop_7_5:before { content: "\e3c0"; }

.mmdi_crop_din:before { content: "\e3c1"; }

.mmdi_crop_free:before { content: "\e3c2"; }

.mmdi_crop_landscape:before { content: "\e3c3"; }

.mmdi_crop_original:before { content: "\e3c4"; }

.mmdi_crop_portrait:before { content: "\e3c5"; }

.mmdi_crop_rotate:before { content: "\e437"; }

.mmdi_crop_square:before { content: "\e3c6"; }

.mmdi_dashboard:before { content: "\e871"; }

.mmdi_data_usage:before { content: "\e1af"; }

.mmdi_date_range:before { content: "\e916"; }

.mmdi_dehaze:before { content: "\e3c7"; }

.mmdi_delete:before { content: "\e872"; }

.mmdi_description:before { content: "\e873"; }

.mmdi_desktop_mac:before { content: "\e30b"; }

.mmdi_desktop_windows:before { content: "\e30c"; }

.mmdi_details:before { content: "\e3c8"; }

.mmdi_developer_board:before { content: "\e30d"; }

.mmdi_developer_mode:before { content: "\e1b0"; }

.mmdi_device_hub:before { content: "\e335"; }

.mmdi_devices:before { content: "\e1b1"; }

.mmdi_devices_other:before { content: "\e337"; }

.mmdi_dialer_sip:before { content: "\e0bb"; }

.mmdi_dialpad:before { content: "\e0bc"; }

.mmdi_directions:before { content: "\e52e"; }

.mmdi_directions_bike:before { content: "\e52f"; }

.mmdi_directions_boat:before { content: "\e532"; }

.mmdi_directions_bus:before { content: "\e530"; }

.mmdi_directions_car:before { content: "\e531"; }

.mmdi_directions_railway:before { content: "\e534"; }

.mmdi_directions_run:before { content: "\e566"; }

.mmdi_directions_subway:before { content: "\e533"; }

.mmdi_directions_transit:before { content: "\e535"; }

.mmdi_directions_walk:before { content: "\e536"; }

.mmdi_disc_full:before { content: "\e610"; }

.mmdi_dns:before { content: "\e875"; }

.mmdi_do_not_disturb:before { content: "\e612"; }

.mmdi_do_not_disturb_alt:before { content: "\e611"; }

.mmdi_dock:before { content: "\e30e"; }

.mmdi_domain:before { content: "\e7ee"; }

.mmdi_done:before { content: "\e876"; }

.mmdi_done_all:before { content: "\e877"; }

.mmdi_donut_large:before { content: "\e917"; }

.mmdi_donut_small:before { content: "\e918"; }

.mmdi_drafts:before { content: "\e151"; }

.mmdi_drag_handle:before { content: "\e25d"; }

.mmdi_drive_eta:before { content: "\e613"; }

.mmdi_dvr:before { content: "\e1b2"; }

.mmdi_edit:before { content: "\e3c9"; }

.mmdi_edit_location:before { content: "\e568"; }

.mmdi_eject:before { content: "\e8fb"; }

.mmdi_email:before { content: "\e0be"; }

.mmdi_enhanced_encryption:before { content: "\e63f"; }

.mmdi_equalizer:before { content: "\e01d"; }

.mmdi_error:before { content: "\e000"; }

.mmdi_error_outline:before { content: "\e001"; }

.mmdi_event:before { content: "\e878"; }

.mmdi_event_available:before { content: "\e614"; }

.mmdi_event_busy:before { content: "\e615"; }

.mmdi_event_note:before { content: "\e616"; }

.mmdi_event_seat:before { content: "\e903"; }

.mmdi_exit_to_app:before { content: "\e879"; }

.mmdi_expand_less:before { content: "\e5ce"; }

.mmdi_expand_more:before { content: "\e5cf"; }

.mmdi_explicit:before { content: "\e01e"; }

.mmdi_explore:before { content: "\e87a"; }

.mmdi_exposure:before { content: "\e3ca"; }

.mmdi_exposure_neg_1:before { content: "\e3cb"; }

.mmdi_exposure_neg_2:before { content: "\e3cc"; }

.mmdi_exposure_plus_1:before { content: "\e3cd"; }

.mmdi_exposure_plus_2:before { content: "\e3ce"; }

.mmdi_exposure_zero:before { content: "\e3cf"; }

.mmdi_extension:before { content: "\e87b"; }

.mmdi_face:before { content: "\e87c"; }

.mmdi_fast_forward:before { content: "\e01f"; }

.mmdi_fast_rewind:before { content: "\e020"; }

.mmdi_favorite:before { content: "\e87d"; }

.mmdi_favorite_border:before { content: "\e87e"; }

.mmdi_feedback:before { content: "\e87f"; }

.mmdi_fiber_dvr:before { content: "\e05d"; }

.mmdi_fiber_manual_record:before { content: "\e061"; }

.mmdi_fiber_new:before { content: "\e05e"; }

.mmdi_fiber_pin:before { content: "\e06a"; }

.mmdi_fiber_smart_record:before { content: "\e062"; }

.mmdi_file_download:before { content: "\e2c4"; }

.mmdi_file_upload:before { content: "\e2c6"; }

.mmdi_filter:before { content: "\e3d3"; }

.mmdi_filter_1:before { content: "\e3d0"; }

.mmdi_filter_2:before { content: "\e3d1"; }

.mmdi_filter_3:before { content: "\e3d2"; }

.mmdi_filter_4:before { content: "\e3d4"; }

.mmdi_filter_5:before { content: "\e3d5"; }

.mmdi_filter_6:before { content: "\e3d6"; }

.mmdi_filter_7:before { content: "\e3d7"; }

.mmdi_filter_8:before { content: "\e3d8"; }

.mmdi_filter_9:before { content: "\e3d9"; }

.mmdi_filter_9_plus:before { content: "\e3da"; }

.mmdi_filter_b_and_w:before { content: "\e3db"; }

.mmdi_filter_center_focus:before { content: "\e3dc"; }

.mmdi_filter_drama:before { content: "\e3dd"; }

.mmdi_filter_frames:before { content: "\e3de"; }

.mmdi_filter_hdr:before { content: "\e3df"; }

.mmdi_filter_list:before { content: "\e152"; }

.mmdi_filter_none:before { content: "\e3e0"; }

.mmdi_filter_tilt_shift:before { content: "\e3e2"; }

.mmdi_filter_vintage:before { content: "\e3e3"; }

.mmdi_find_in_page:before { content: "\e880"; }

.mmdi_find_replace:before { content: "\e881"; }

.mmdi_fingerprint:before { content: "\e90d"; }

.mmdi_fitness_center:before { content: "\eb43"; }

.mmdi_flag:before { content: "\e153"; }

.mmdi_flare:before { content: "\e3e4"; }

.mmdi_flash_auto:before { content: "\e3e5"; }

.mmdi_flash_off:before { content: "\e3e6"; }

.mmdi_flash_on:before { content: "\e3e7"; }

.mmdi_flight:before { content: "\e539"; }

.mmdi_flight_land:before { content: "\e904"; }

.mmdi_flight_takeoff:before { content: "\e905"; }

.mmdi_flip:before { content: "\e3e8"; }

.mmdi_flip_to_back:before { content: "\e882"; }

.mmdi_flip_to_front:before { content: "\e883"; }

.mmdi_folder:before { content: "\e2c7"; }

.mmdi_folder_open:before { content: "\e2c8"; }

.mmdi_folder_shared:before { content: "\e2c9"; }

.mmdi_folder_special:before { content: "\e617"; }

.mmdi_font_download:before { content: "\e167"; }

.mmdi_format_align_center:before { content: "\e234"; }

.mmdi_format_align_justify:before { content: "\e235"; }

.mmdi_format_align_left:before { content: "\e236"; }

.mmdi_format_align_right:before { content: "\e237"; }

.mmdi_format_bold:before { content: "\e238"; }

.mmdi_format_clear:before { content: "\e239"; }

.mmdi_format_color_fill:before { content: "\e23a"; }

.mmdi_format_color_reset:before { content: "\e23b"; }

.mmdi_format_color_text:before { content: "\e23c"; }

.mmdi_format_indent_decrease:before { content: "\e23d"; }

.mmdi_format_indent_increase:before { content: "\e23e"; }

.mmdi_format_italic:before { content: "\e23f"; }

.mmdi_format_line_spacing:before { content: "\e240"; }

.mmdi_format_list_bulleted:before { content: "\e241"; }

.mmdi_format_list_numbered:before { content: "\e242"; }

.mmdi_format_paint:before { content: "\e243"; }

.mmdi_format_quote:before { content: "\e244"; }

.mmdi_format_shapes:before { content: "\e25e"; }

.mmdi_format_size:before { content: "\e245"; }

.mmdi_format_strikethrough:before { content: "\e246"; }

.mmdi_format_textdirection_l_to_r:before { content: "\e247"; }

.mmdi_format_textdirection_r_to_l:before { content: "\e248"; }

.mmdi_format_underlined:before { content: "\e249"; }

.mmdi_forum:before { content: "\e0bf"; }

.mmdi_forward:before { content: "\e154"; }

.mmdi_forward_10:before { content: "\e056"; }

.mmdi_forward_30:before { content: "\e057"; }

.mmdi_forward_5:before { content: "\e058"; }

.mmdi_free_breakfast:before { content: "\eb44"; }

.mmdi_fullscreen:before { content: "\e5d0"; }

.mmdi_fullscreen_exit:before { content: "\e5d1"; }

.mmdi_functions:before { content: "\e24a"; }

.mmdi_gamepad:before { content: "\e30f"; }

.mmdi_games:before { content: "\e021"; }

.mmdi_gavel:before { content: "\e90e"; }

.mmdi_gesture:before { content: "\e155"; }

.mmdi_get_app:before { content: "\e884"; }

.mmdi_gif:before { content: "\e908"; }

.mmdi_golf_course:before { content: "\eb45"; }

.mmdi_gps_fixed:before { content: "\e1b3"; }

.mmdi_gps_not_fixed:before { content: "\e1b4"; }

.mmdi_gps_off:before { content: "\e1b5"; }

.mmdi_grade:before { content: "\e885"; }

.mmdi_gradient:before { content: "\e3e9"; }

.mmdi_grain:before { content: "\e3ea"; }

.mmdi_graphic_eq:before { content: "\e1b8"; }

.mmdi_grid_off:before { content: "\e3eb"; }

.mmdi_grid_on:before { content: "\e3ec"; }

.mmdi_group:before { content: "\e7ef"; }

.mmdi_group_add:before { content: "\e7f0"; }

.mmdi_group_work:before { content: "\e886"; }

.mmdi_hd:before { content: "\e052"; }

.mmdi_hdr_off:before { content: "\e3ed"; }

.mmdi_hdr_on:before { content: "\e3ee"; }

.mmdi_hdr_strong:before { content: "\e3f1"; }

.mmdi_hdr_weak:before { content: "\e3f2"; }

.mmdi_headset:before { content: "\e310"; }

.mmdi_headset_mic:before { content: "\e311"; }

.mmdi_healing:before { content: "\e3f3"; }

.mmdi_hearing:before { content: "\e023"; }

.mmdi_help:before { content: "\e887"; }

.mmdi_help_outline:before { content: "\e8fd"; }

.mmdi_high_quality:before { content: "\e024"; }

.mmdi_highlight:before { content: "\e25f"; }

.mmdi_highlight_off:before { content: "\e888"; }

.mmdi_history:before { content: "\e889"; }

.mmdi_home:before { content: "\e88a"; }

.mmdi_hot_tub:before { content: "\eb46"; }

.mmdi_hotel:before { content: "\e53a"; }

.mmdi_hourglass_empty:before { content: "\e88b"; }

.mmdi_hourglass_full:before { content: "\e88c"; }

.mmdi_http:before { content: "\e902"; }

.mmdi_https:before { content: "\e88d"; }

.mmdi_image:before { content: "\e3f4"; }

.mmdi_image_aspect_ratio:before { content: "\e3f5"; }

.mmdi_import_contacts:before { content: "\e0e0"; }

.mmdi_import_export:before { content: "\e0c3"; }

.mmdi_important_devices:before { content: "\e912"; }

.mmdi_inbox:before { content: "\e156"; }

.mmdi_indeterminate_check_box:before { content: "\e909"; }

.mmdi_info:before { content: "\e88e"; }

.mmdi_info_outline:before { content: "\e88f"; }

.mmdi_input:before { content: "\e890"; }

.mmdi_insert_chart:before { content: "\e24b"; }

.mmdi_insert_comment:before { content: "\e24c"; }

.mmdi_insert_drive_file:before { content: "\e24d"; }

.mmdi_insert_emoticon:before { content: "\e24e"; }

.mmdi_insert_invitation:before { content: "\e24f"; }

.mmdi_insert_link:before { content: "\e250"; }

.mmdi_insert_photo:before { content: "\e251"; }

.mmdi_invert_colors:before { content: "\e891"; }

.mmdi_invert_colors_off:before { content: "\e0c4"; }

.mmdi_iso:before { content: "\e3f6"; }

.mmdi_keyboard:before { content: "\e312"; }

.mmdi_keyboard_arrow_down:before { content: "\e313"; }

.mmdi_keyboard_arrow_left:before { content: "\e314"; }

.mmdi_keyboard_arrow_right:before { content: "\e315"; }

.mmdi_keyboard_arrow_up:before { content: "\e316"; }

.mmdi_keyboard_backspace:before { content: "\e317"; }

.mmdi_keyboard_capslock:before { content: "\e318"; }

.mmdi_keyboard_hide:before { content: "\e31a"; }

.mmdi_keyboard_return:before { content: "\e31b"; }

.mmdi_keyboard_tab:before { content: "\e31c"; }

.mmdi_keyboard_voice:before { content: "\e31d"; }

.mmdi_kitchen:before { content: "\eb47"; }

.mmdi_label:before { content: "\e892"; }

.mmdi_label_outline:before { content: "\e893"; }

.mmdi_landscape:before { content: "\e3f7"; }

.mmdi_language:before { content: "\e894"; }

.mmdi_laptop:before { content: "\e31e"; }

.mmdi_laptop_chromebook:before { content: "\e31f"; }

.mmdi_laptop_mac:before { content: "\e320"; }

.mmdi_laptop_windows:before { content: "\e321"; }

.mmdi_launch:before { content: "\e895"; }

.mmdi_layers:before { content: "\e53b"; }

.mmdi_layers_clear:before { content: "\e53c"; }

.mmdi_leak_add:before { content: "\e3f8"; }

.mmdi_leak_remove:before { content: "\e3f9"; }

.mmdi_lens:before { content: "\e3fa"; }

.mmdi_library_add:before { content: "\e02e"; }

.mmdi_library_books:before { content: "\e02f"; }

.mmdi_library_music:before { content: "\e030"; }

.mmdi_lightbulb_outline:before { content: "\e90f"; }

.mmdi_line_style:before { content: "\e919"; }

.mmdi_line_weight:before { content: "\e91a"; }

.mmdi_linear_scale:before { content: "\e260"; }

.mmdi_link:before { content: "\e157"; }

.mmdi_linked_camera:before { content: "\e438"; }

.mmdi_list:before { content: "\e896"; }

.mmdi_live_help:before { content: "\e0c6"; }

.mmdi_live_tv:before { content: "\e639"; }

.mmdi_local_activity:before { content: "\e53f"; }

.mmdi_local_airport:before { content: "\e53d"; }

.mmdi_local_atm:before { content: "\e53e"; }

.mmdi_local_bar:before { content: "\e540"; }

.mmdi_local_cafe:before { content: "\e541"; }

.mmdi_local_car_wash:before { content: "\e542"; }

.mmdi_local_convenience_store:before { content: "\e543"; }

.mmdi_local_dining:before { content: "\e556"; }

.mmdi_local_drink:before { content: "\e544"; }

.mmdi_local_florist:before { content: "\e545"; }

.mmdi_local_gas_station:before { content: "\e546"; }

.mmdi_local_grocery_store:before { content: "\e547"; }

.mmdi_local_hospital:before { content: "\e548"; }

.mmdi_local_hotel:before { content: "\e549"; }

.mmdi_local_laundry_service:before { content: "\e54a"; }

.mmdi_local_library:before { content: "\e54b"; }

.mmdi_local_mall:before { content: "\e54c"; }

.mmdi_local_movies:before { content: "\e54d"; }

.mmdi_local_offer:before { content: "\e54e"; }

.mmdi_local_parking:before { content: "\e54f"; }

.mmdi_local_pharmacy:before { content: "\e550"; }

.mmdi_local_phone:before { content: "\e551"; }

.mmdi_local_pizza:before { content: "\e552"; }

.mmdi_local_play:before { content: "\e553"; }

.mmdi_local_post_office:before { content: "\e554"; }

.mmdi_local_printshop:before { content: "\e555"; }

.mmdi_local_see:before { content: "\e557"; }

.mmdi_local_shipping:before { content: "\e558"; }

.mmdi_local_taxi:before { content: "\e559"; }

.mmdi_location_city:before { content: "\e7f1"; }

.mmdi_location_disabled:before { content: "\e1b6"; }

.mmdi_location_off:before { content: "\e0c7"; }

.mmdi_location_on:before { content: "\e0c8"; }

.mmdi_location_searching:before { content: "\e1b7"; }

.mmdi_lock:before { content: "\e897"; }

.mmdi_lock_open:before { content: "\e898"; }

.mmdi_lock_outline:before { content: "\e899"; }

.mmdi_looks:before { content: "\e3fc"; }

.mmdi_looks_3:before { content: "\e3fb"; }

.mmdi_looks_4:before { content: "\e3fd"; }

.mmdi_looks_5:before { content: "\e3fe"; }

.mmdi_looks_6:before { content: "\e3ff"; }

.mmdi_looks_one:before { content: "\e400"; }

.mmdi_looks_two:before { content: "\e401"; }

.mmdi_loop:before { content: "\e028"; }

.mmdi_loupe:before { content: "\e402"; }

.mmdi_loyalty:before { content: "\e89a"; }

.mmdi_mail:before { content: "\e158"; }

.mmdi_mail_outline:before { content: "\e0e1"; }

.mmdi_map:before { content: "\e55b"; }

.mmdi_markunread:before { content: "\e159"; }

.mmdi_markunread_mailbox:before { content: "\e89b"; }

.mmdi_memory:before { content: "\e322"; }

.mmdi_menu:before { content: "\e5d2"; }

.mmdi_merge_type:before { content: "\e252"; }

.mmdi_message:before { content: "\e0c9"; }

.mmdi_mic:before { content: "\e029"; }

.mmdi_mic_none:before { content: "\e02a"; }

.mmdi_mic_off:before { content: "\e02b"; }

.mmdi_mms:before { content: "\e618"; }

.mmdi_mode_comment:before { content: "\e253"; }

.mmdi_mode_edit:before { content: "\e254"; }

.mmdi_money_off:before { content: "\e25c"; }

.mmdi_monochrome_photos:before { content: "\e403"; }

.mmdi_mood:before { content: "\e7f2"; }

.mmdi_mood_bad:before { content: "\e7f3"; }

.mmdi_more:before { content: "\e619"; }

.mmdi_more_horiz:before { content: "\e5d3"; }

.mmdi_more_vert:before { content: "\e5d4"; }

.mmdi_motorcycle:before { content: "\e91b"; }

.mmdi_mouse:before { content: "\e323"; }

.mmdi_move_to_inbox:before { content: "\e168"; }

.mmdi_movie:before { content: "\e02c"; }

.mmdi_movie_creation:before { content: "\e404"; }

.mmdi_movie_filter:before { content: "\e43a"; }

.mmdi_music_note:before { content: "\e405"; }

.mmdi_music_video:before { content: "\e063"; }

.mmdi_my_location:before { content: "\e55c"; }

.mmdi_nature:before { content: "\e406"; }

.mmdi_nature_people:before { content: "\e407"; }

.mmdi_navigate_before:before { content: "\e408"; }

.mmdi_navigate_next:before { content: "\e409"; }

.mmdi_navigation:before { content: "\e55d"; }

.mmdi_near_me:before { content: "\e569"; }

.mmdi_network_cell:before { content: "\e1b9"; }

.mmdi_network_check:before { content: "\e640"; }

.mmdi_network_locked:before { content: "\e61a"; }

.mmdi_network_wifi:before { content: "\e1ba"; }

.mmdi_new_releases:before { content: "\e031"; }

.mmdi_next_week:before { content: "\e16a"; }

.mmdi_nfc:before { content: "\e1bb"; }

.mmdi_no_encryption:before { content: "\e641"; }

.mmdi_no_sim:before { content: "\e0cc"; }

.mmdi_not_interested:before { content: "\e033"; }

.mmdi_note_add:before { content: "\e89c"; }

.mmdi_notifications:before { content: "\e7f4"; }

.mmdi_notifications_active:before { content: "\e7f7"; }

.mmdi_notifications_none:before { content: "\e7f5"; }

.mmdi_notifications_off:before { content: "\e7f6"; }

.mmdi_notifications_paused:before { content: "\e7f8"; }

.mmdi_offline_pin:before { content: "\e90a"; }

.mmdi_ondemand_video:before { content: "\e63a"; }

.mmdi_opacity:before { content: "\e91c"; }

.mmdi_open_in_browser:before { content: "\e89d"; }

.mmdi_open_in_new:before { content: "\e89e"; }

.mmdi_open_with:before { content: "\e89f"; }

.mmdi_pages:before { content: "\e7f9"; }

.mmdi_pageview:before { content: "\e8a0"; }

.mmdi_palette:before { content: "\e40a"; }

.mmdi_pan_tool:before { content: "\e925"; }

.mmdi_panorama:before { content: "\e40b"; }

.mmdi_panorama_fish_eye:before { content: "\e40c"; }

.mmdi_panorama_horizontal:before { content: "\e40d"; }

.mmdi_panorama_vertical:before { content: "\e40e"; }

.mmdi_panorama_wide_angle:before { content: "\e40f"; }

.mmdi_party_mode:before { content: "\e7fa"; }

.mmdi_pause:before { content: "\e034"; }

.mmdi_pause_circle_filled:before { content: "\e035"; }

.mmdi_pause_circle_outline:before { content: "\e036"; }

.mmdi_payment:before { content: "\e8a1"; }

.mmdi_people:before { content: "\e7fb"; }

.mmdi_people_outline:before { content: "\e7fc"; }

.mmdi_perm_camera_mic:before { content: "\e8a2"; }

.mmdi_perm_contact_calendar:before { content: "\e8a3"; }

.mmdi_perm_data_setting:before { content: "\e8a4"; }

.mmdi_perm_device_information:before { content: "\e8a5"; }

.mmdi_perm_identity:before { content: "\e8a6"; }

.mmdi_perm_media:before { content: "\e8a7"; }

.mmdi_perm_phone_msg:before { content: "\e8a8"; }

.mmdi_perm_scan_wifi:before { content: "\e8a9"; }

.mmdi_person:before { content: "\e7fd"; }

.mmdi_person_add:before { content: "\e7fe"; }

.mmdi_person_outline:before { content: "\e7ff"; }

.mmdi_person_pin:before { content: "\e55a"; }

.mmdi_person_pin_circle:before { content: "\e56a"; }

.mmdi_personal_video:before { content: "\e63b"; }

.mmdi_pets:before { content: "\e91d"; }

.mmdi_phone:before { content: "\e0cd"; }

.mmdi_phone_android:before { content: "\e324"; }

.mmdi_phone_bluetooth_speaker:before { content: "\e61b"; }

.mmdi_phone_forwarded:before { content: "\e61c"; }

.mmdi_phone_in_talk:before { content: "\e61d"; }

.mmdi_phone_iphone:before { content: "\e325"; }

.mmdi_phone_locked:before { content: "\e61e"; }

.mmdi_phone_missed:before { content: "\e61f"; }

.mmdi_phone_paused:before { content: "\e620"; }

.mmdi_phonelink:before { content: "\e326"; }

.mmdi_phonelink_erase:before { content: "\e0db"; }

.mmdi_phonelink_lock:before { content: "\e0dc"; }

.mmdi_phonelink_off:before { content: "\e327"; }

.mmdi_phonelink_ring:before { content: "\e0dd"; }

.mmdi_phonelink_setup:before { content: "\e0de"; }

.mmdi_photo:before { content: "\e410"; }

.mmdi_photo_album:before { content: "\e411"; }

.mmdi_photo_camera:before { content: "\e412"; }

.mmdi_photo_filter:before { content: "\e43b"; }

.mmdi_photo_library:before { content: "\e413"; }

.mmdi_photo_size_select_actual:before { content: "\e432"; }

.mmdi_photo_size_select_large:before { content: "\e433"; }

.mmdi_photo_size_select_small:before { content: "\e434"; }

.mmdi_picture_as_pdf:before { content: "\e415"; }

.mmdi_picture_in_picture:before { content: "\e8aa"; }

.mmdi_picture_in_picture_alt:before { content: "\e911"; }

.mmdi_pin_drop:before { content: "\e55e"; }

.mmdi_place:before { content: "\e55f"; }

.mmdi_play_arrow:before { content: "\e037"; }

.mmdi_play_circle_filled:before { content: "\e038"; }

.mmdi_play_circle_outline:before { content: "\e039"; }

.mmdi_play_for_work:before { content: "\e906"; }

.mmdi_playlist_add:before { content: "\e03b"; }

.mmdi_playlist_add_check:before { content: "\e065"; }

.mmdi_playlist_play:before { content: "\e05f"; }

.mmdi_plus_one:before { content: "\e800"; }

.mmdi_poll:before { content: "\e801"; }

.mmdi_polymer:before { content: "\e8ab"; }

.mmdi_pool:before { content: "\eb48"; }

.mmdi_portable_wifi_off:before { content: "\e0ce"; }

.mmdi_portrait:before { content: "\e416"; }

.mmdi_power:before { content: "\e63c"; }

.mmdi_power_input:before { content: "\e336"; }

.mmdi_power_settings_new:before { content: "\e8ac"; }

.mmdi_pregnant_woman:before { content: "\e91e"; }

.mmdi_present_to_all:before { content: "\e0df"; }

.mmdi_print:before { content: "\e8ad"; }

.mmdi_public:before { content: "\e80b"; }

.mmdi_publish:before { content: "\e255"; }

.mmdi_query_builder:before { content: "\e8ae"; }

.mmdi_question_answer:before { content: "\e8af"; }

.mmdi_queue:before { content: "\e03c"; }

.mmdi_queue_music:before { content: "\e03d"; }

.mmdi_queue_play_next:before { content: "\e066"; }

.mmdi_radio:before { content: "\e03e"; }

.mmdi_radio_button_checked:before { content: "\e837"; }

.mmdi_radio_button_unchecked:before { content: "\e836"; }

.mmdi_rate_review:before { content: "\e560"; }

.mmdi_receipt:before { content: "\e8b0"; }

.mmdi_recent_actors:before { content: "\e03f"; }

.mmdi_record_voice_over:before { content: "\e91f"; }

.mmdi_redeem:before { content: "\e8b1"; }

.mmdi_redo:before { content: "\e15a"; }

.mmdi_refresh:before { content: "\e5d5"; }

.mmdi_remove:before { content: "\e15b"; }

.mmdi_remove_circle:before { content: "\e15c"; }

.mmdi_remove_circle_outline:before { content: "\e15d"; }

.mmdi_remove_from_queue:before { content: "\e067"; }

.mmdi_remove_red_eye:before { content: "\e417"; }

.mmdi_reorder:before { content: "\e8fe"; }

.mmdi_repeat:before { content: "\e040"; }

.mmdi_repeat_one:before { content: "\e041"; }

.mmdi_replay:before { content: "\e042"; }

.mmdi_replay_10:before { content: "\e059"; }

.mmdi_replay_30:before { content: "\e05a"; }

.mmdi_replay_5:before { content: "\e05b"; }

.mmdi_reply:before { content: "\e15e"; }

.mmdi_reply_all:before { content: "\e15f"; }

.mmdi_report:before { content: "\e160"; }

.mmdi_report_problem:before { content: "\e8b2"; }

.mmdi_restaurant_menu:before { content: "\e561"; }

.mmdi_restore:before { content: "\e8b3"; }

.mmdi_ring_volume:before { content: "\e0d1"; }

.mmdi_room:before { content: "\e8b4"; }

.mmdi_room_service:before { content: "\eb49"; }

.mmdi_rotate_90_degrees_ccw:before { content: "\e418"; }

.mmdi_rotate_left:before { content: "\e419"; }

.mmdi_rotate_right:before { content: "\e41a"; }

.mmdi_rounded_corner:before { content: "\e920"; }

.mmdi_router:before { content: "\e328"; }

.mmdi_rowing:before { content: "\e921"; }

.mmdi_rv_hookup:before { content: "\e642"; }

.mmdi_satellite:before { content: "\e562"; }

.mmdi_save:before { content: "\e161"; }

.mmdi_scanner:before { content: "\e329"; }

.mmdi_schedule:before { content: "\e8b5"; }

.mmdi_school:before { content: "\e80c"; }

.mmdi_screen_lock_landscape:before { content: "\e1be"; }

.mmdi_screen_lock_portrait:before { content: "\e1bf"; }

.mmdi_screen_lock_rotation:before { content: "\e1c0"; }

.mmdi_screen_rotation:before { content: "\e1c1"; }

.mmdi_screen_share:before { content: "\e0e2"; }

.mmdi_sd_card:before { content: "\e623"; }

.mmdi_sd_storage:before { content: "\e1c2"; }

.mmdi_search:before { content: "\e8b6"; }

.mmdi_security:before { content: "\e32a"; }

.mmdi_select_all:before { content: "\e162"; }

.mmdi_send:before { content: "\e163"; }

.mmdi_settings:before { content: "\e8b8"; }

.mmdi_settings_applications:before { content: "\e8b9"; }

.mmdi_settings_backup_restore:before { content: "\e8ba"; }

.mmdi_settings_bluetooth:before { content: "\e8bb"; }

.mmdi_settings_brightness:before { content: "\e8bd"; }

.mmdi_settings_cell:before { content: "\e8bc"; }

.mmdi_settings_ethernet:before { content: "\e8be"; }

.mmdi_settings_input_antenna:before { content: "\e8bf"; }

.mmdi_settings_input_component:before { content: "\e8c0"; }

.mmdi_settings_input_composite:before { content: "\e8c1"; }

.mmdi_settings_input_hdmi:before { content: "\e8c2"; }

.mmdi_settings_input_svideo:before { content: "\e8c3"; }

.mmdi_settings_overscan:before { content: "\e8c4"; }

.mmdi_settings_phone:before { content: "\e8c5"; }

.mmdi_settings_power:before { content: "\e8c6"; }

.mmdi_settings_remote:before { content: "\e8c7"; }

.mmdi_settings_system_daydream:before { content: "\e1c3"; }

.mmdi_settings_voice:before { content: "\e8c8"; }

.mmdi_share:before { content: "\e80d"; }

.mmdi_shop:before { content: "\e8c9"; }

.mmdi_shop_two:before { content: "\e8ca"; }

.mmdi_shopping_basket:before { content: "\e8cb"; }

.mmdi_shopping_cart:before { content: "\e8cc"; }

.mmdi_short_text:before { content: "\e261"; }

.mmdi_shuffle:before { content: "\e043"; }

.mmdi_signal_cellular_4_bar:before { content: "\e1c8"; }

.mmdi_signal_cellular_connected_no_internet_4_bar:before { content: "\e1cd"; }

.mmdi_signal_cellular_no_sim:before { content: "\e1ce"; }

.mmdi_signal_cellular_null:before { content: "\e1cf"; }

.mmdi_signal_cellular_off:before { content: "\e1d0"; }

.mmdi_signal_wifi_4_bar:before { content: "\e1d8"; }

.mmdi_signal_wifi_4_bar_lock:before { content: "\e1d9"; }

.mmdi_signal_wifi_off:before { content: "\e1da"; }

.mmdi_sim_card:before { content: "\e32b"; }

.mmdi_sim_card_alert:before { content: "\e624"; }

.mmdi_skip_next:before { content: "\e044"; }

.mmdi_skip_previous:before { content: "\e045"; }

.mmdi_slideshow:before { content: "\e41b"; }

.mmdi_slow_motion_video:before { content: "\e068"; }

.mmdi_smartphone:before { content: "\e32c"; }

.mmdi_smoke_free:before { content: "\eb4a"; }

.mmdi_smoking_rooms:before { content: "\eb4b"; }

.mmdi_sms:before { content: "\e625"; }

.mmdi_sms_failed:before { content: "\e626"; }

.mmdi_snooze:before { content: "\e046"; }

.mmdi_sort:before { content: "\e164"; }

.mmdi_sort_by_alpha:before { content: "\e053"; }

.mmdi_spa:before { content: "\eb4c"; }

.mmdi_space_bar:before { content: "\e256"; }

.mmdi_speaker:before { content: "\e32d"; }

.mmdi_speaker_group:before { content: "\e32e"; }

.mmdi_speaker_notes:before { content: "\e8cd"; }

.mmdi_speaker_phone:before { content: "\e0d2"; }

.mmdi_spellcheck:before { content: "\e8ce"; }

.mmdi_star:before { content: "\e838"; }

.mmdi_star_border:before { content: "\e83a"; }

.mmdi_star_half:before { content: "\e839"; }

.mmdi_stars:before { content: "\e8d0"; }

.mmdi_stay_current_landscape:before { content: "\e0d3"; }

.mmdi_stay_current_portrait:before { content: "\e0d4"; }

.mmdi_stay_primary_landscape:before { content: "\e0d5"; }

.mmdi_stay_primary_portrait:before { content: "\e0d6"; }

.mmdi_stop:before { content: "\e047"; }

.mmdi_stop_screen_share:before { content: "\e0e3"; }

.mmdi_storage:before { content: "\e1db"; }

.mmdi_store:before { content: "\e8d1"; }

.mmdi_store_mall_directory:before { content: "\e563"; }

.mmdi_straighten:before { content: "\e41c"; }

.mmdi_strikethrough_s:before { content: "\e257"; }

.mmdi_style:before { content: "\e41d"; }

.mmdi_subdirectory_arrow_left:before { content: "\e5d9"; }

.mmdi_subdirectory_arrow_right:before { content: "\e5da"; }

.mmdi_subject:before { content: "\e8d2"; }

.mmdi_subscriptions:before { content: "\e064"; }

.mmdi_subtitles:before { content: "\e048"; }

.mmdi_supervisor_account:before { content: "\e8d3"; }

.mmdi_surround_sound:before { content: "\e049"; }

.mmdi_swap_calls:before { content: "\e0d7"; }

.mmdi_swap_horiz:before { content: "\e8d4"; }

.mmdi_swap_vert:before { content: "\e8d5"; }

.mmdi_swap_vertical_circle:before { content: "\e8d6"; }

.mmdi_switch_camera:before { content: "\e41e"; }

.mmdi_switch_video:before { content: "\e41f"; }

.mmdi_sync:before { content: "\e627"; }

.mmdi_sync_disabled:before { content: "\e628"; }

.mmdi_sync_problem:before { content: "\e629"; }

.mmdi_system_update:before { content: "\e62a"; }

.mmdi_system_update_alt:before { content: "\e8d7"; }

.mmdi_tab:before { content: "\e8d8"; }

.mmdi_tab_unselected:before { content: "\e8d9"; }

.mmdi_tablet:before { content: "\e32f"; }

.mmdi_tablet_android:before { content: "\e330"; }

.mmdi_tablet_mac:before { content: "\e331"; }

.mmdi_tag_faces:before { content: "\e420"; }

.mmdi_tap_and_play:before { content: "\e62b"; }

.mmdi_terrain:before { content: "\e564"; }

.mmdi_text_fields:before { content: "\e262"; }

.mmdi_text_format:before { content: "\e165"; }

.mmdi_textsms:before { content: "\e0d8"; }

.mmdi_texture:before { content: "\e421"; }

.mmdi_theaters:before { content: "\e8da"; }

.mmdi_thumb_down:before { content: "\e8db"; }

.mmdi_thumb_up:before { content: "\e8dc"; }

.mmdi_thumbs_up_down:before { content: "\e8dd"; }

.mmdi_time_to_leave:before { content: "\e62c"; }

.mmdi_timelapse:before { content: "\e422"; }

.mmdi_timeline:before { content: "\e922"; }

.mmdi_timer:before { content: "\e425"; }

.mmdi_timer_10:before { content: "\e423"; }

.mmdi_timer_3:before { content: "\e424"; }

.mmdi_timer_off:before { content: "\e426"; }

.mmdi_toc:before { content: "\e8de"; }

.mmdi_today:before { content: "\e8df"; }

.mmdi_toll:before { content: "\e8e0"; }

.mmdi_tonality:before { content: "\e427"; }

.mmdi_touch_app:before { content: "\e913"; }

.mmdi_toys:before { content: "\e332"; }

.mmdi_track_changes:before { content: "\e8e1"; }

.mmdi_traffic:before { content: "\e565"; }

.mmdi_transform:before { content: "\e428"; }

.mmdi_translate:before { content: "\e8e2"; }

.mmdi_trending_down:before { content: "\e8e3"; }

.mmdi_trending_flat:before { content: "\e8e4"; }

.mmdi_trending_up:before { content: "\e8e5"; }

.mmdi_tune:before { content: "\e429"; }

.mmdi_turned_in:before { content: "\e8e6"; }

.mmdi_turned_in_not:before { content: "\e8e7"; }

.mmdi_tv:before { content: "\e333"; }

.mmdi_unarchive:before { content: "\e169"; }

.mmdi_undo:before { content: "\e166"; }

.mmdi_unfold_less:before { content: "\e5d6"; }

.mmdi_unfold_more:before { content: "\e5d7"; }

.mmdi_update:before { content: "\e923"; }

.mmdi_usb:before { content: "\e1e0"; }

.mmdi_verified_user:before { content: "\e8e8"; }

.mmdi_vertical_align_bottom:before { content: "\e258"; }

.mmdi_vertical_align_center:before { content: "\e259"; }

.mmdi_vertical_align_top:before { content: "\e25a"; }

.mmdi_vibration:before { content: "\e62d"; }

.mmdi_video_library:before { content: "\e04a"; }

.mmdi_videocam:before { content: "\e04b"; }

.mmdi_videocam_off:before { content: "\e04c"; }

.mmdi_videogame_asset:before { content: "\e338"; }

.mmdi_view_agenda:before { content: "\e8e9"; }

.mmdi_view_array:before { content: "\e8ea"; }

.mmdi_view_carousel:before { content: "\e8eb"; }

.mmdi_view_column:before { content: "\e8ec"; }

.mmdi_view_comfy:before { content: "\e42a"; }

.mmdi_view_compact:before { content: "\e42b"; }

.mmdi_view_day:before { content: "\e8ed"; }

.mmdi_view_headline:before { content: "\e8ee"; }

.mmdi_view_list:before { content: "\e8ef"; }

.mmdi_view_module:before { content: "\e8f0"; }

.mmdi_view_quilt:before { content: "\e8f1"; }

.mmdi_view_stream:before { content: "\e8f2"; }

.mmdi_view_week:before { content: "\e8f3"; }

.mmdi_vignette:before { content: "\e435"; }

.mmdi_visibility:before { content: "\e8f4"; }

.mmdi_visibility_off:before { content: "\e8f5"; }

.mmdi_voice_chat:before { content: "\e62e"; }

.mmdi_voicemail:before { content: "\e0d9"; }

.mmdi_volume_down:before { content: "\e04d"; }

.mmdi_volume_mute:before { content: "\e04e"; }

.mmdi_volume_off:before { content: "\e04f"; }

.mmdi_volume_up:before { content: "\e050"; }

.mmdi_vpn_key:before { content: "\e0da"; }

.mmdi_vpn_lock:before { content: "\e62f"; }

.mmdi_wallpaper:before { content: "\e1bc"; }

.mmdi_warning:before { content: "\e002"; }

.mmdi_watch:before { content: "\e334"; }

.mmdi_watch_later:before { content: "\e924"; }

.mmdi_wb_auto:before { content: "\e42c"; }

.mmdi_wb_cloudy:before { content: "\e42d"; }

.mmdi_wb_incandescent:before { content: "\e42e"; }

.mmdi_wb_iridescent:before { content: "\e436"; }

.mmdi_wb_sunny:before { content: "\e430"; }

.mmdi_wc:before { content: "\e63d"; }

.mmdi_web:before { content: "\e051"; }

.mmdi_web_asset:before { content: "\e069"; }

.mmdi_weekend:before { content: "\e16b"; }

.mmdi_whatshot:before { content: "\e80e"; }

.mmdi_widgets:before { content: "\e1bd"; }

.mmdi_wifi:before { content: "\e63e"; }

.mmdi_wifi_lock:before { content: "\e1e1"; }

.mmdi_wifi_tethering:before { content: "\e1e2"; }

.mmdi_work:before { content: "\e8f9"; }

.mmdi_wrap_text:before { content: "\e25b"; }

.mmdi_youtube_searched_for:before { content: "\e8fa"; }

.mmdi_zoom_in:before { content: "\e8ff"; }

.mmdi_zoom_out:before { content: "\e900"; }

.mmdi_zoom_out_map:before { content: "\e56b"; }
