<div flex layout="row" layout-align="start center" ng-model="titles" tabindex="-1" flex ng-cloak>
	<div ng-repeat="title in titles" ng-hide="checkActiveStateForTitleDisplay(title)" layout="row" layout-align="start center" class="migrator-toolbar-title-style">
		<div layout="row" layout-align="center start" flex class="{{title.mainClass}}">
			<span class="md-headline font-weight-400 text-center shrink toolbar-title-label-style" ng-bind="title.main"></span>
			<md-icon ng-if="title.detail!=null" class="title-icon-main-details-separator-style">fiber_manual_record</md-icon>
			<span class="md-headline font-weight-400 text-center shrink toolbar-title-secondary-label-style" ng-bind="title.detail"></span>
		</div>
		<md-tooltip ng-if="title.tooltip">{{title.tooltip}}</md-tooltip>
	</div>
</div> 