/*@import "../assets/css/google-material-design-font/google-material-design-font.css";*/


//To include the library set in the app
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:url('../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot');
  src:url('../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
      url('../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
      url('../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}


//CSS rules for rendering google material icons in the app
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mdfi_action_accessibility:before {
    content: "\e851";
}