/*!
 *  Material Design Iconic Font 1.0.1 by Sergey Kupletsky (@zavoloklom) - http://zavoloklom.github.io/material-design-iconic-font/
 *  License - https://github.com/zavoloklom/material-design-iconic-font/blob/gh-pages/License.md (Attribution-ShareAlike 4.0 International license)
 *
 * @import is wrt to app.scss
 * @font-face is wrt to src folder
 */


// Variables
// --------------------------
//$md-font-path: "../bower_components/material-design-iconic-font/fonts";
$md-css-prefix: mmdi;
$md-version: "";

$md-border-color: gray;

// @import "bower_components/material-design-iconic-font/scss/_variables.scss";
//@import "bower_components/material-design-iconic-font/scss/_path.scss";
//@import "bower_components/material-design-iconic-font/scss/_core.scss";
@import "bower_components/material-design-iconic-font/scss/_mixins.scss";
@import "bower_components/material-design-iconic-font/scss/_sizes.scss";
@import "bower_components/material-design-iconic-font/scss/_border.scss";
@import "bower_components/material-design-iconic-font/scss/_pulled.scss";
@import "bower_components/material-design-iconic-font/scss/_spinned.scss";
@import "bower_components/material-design-iconic-font/scss/_rotated.scss";
//@import "bower_components/material-design-iconic-font/scss/_icons.scss";