<section layout-fill layout="row" flex ng-class="make-backdrop-opaque">
    <md-content layout-fill layout="column">
        <section style="overflow-y: scroll;" flex>
            <div class="md-padding" layout="column" layout-wrap ng-if="currentSession.user != null && currentSession.user.isAdmin == false">
                <md-card class="fx-zoom-normal fx-dur-328 fx-ease-quart" , style="width: {{$mdMedia('gt-md') == true?'calc(100% - 60px);':'calc(100% - 30px);'}}">
                    <md-card-content layout="column" layout-align="center center">
                        <div ng-repeat="row in buttonList">
                            <span ng-repeat="button in row">
                                <md-button aria-label="button" class="md-fab md-mini", ng-bind="button.label", ng-click="onButtonClick(button)">
                                </md-button>
                            </span>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card class="fx-zoom-normal fx-dur-328 fx-ease-quart" , style="width: {{$mdMedia('gt-md') == true?'calc(100% - 60px);':'calc(100% - 30px);'}}">
                    <md-card-content layout="column" layout-align="center center">
                        <span ng-bind="userInputState.buttonSequence.toString()">
                            </span>
                    </md-card-content>
                </md-card>
            </div>
            <div ng-if="currentSession.user != null && currentSession.user.isAdmin == true">
                <div layout="column" layout-align="top stretch" flex>
                    <md-card>
                        <div style="height: calc(100vh - 80px);" id="grid1" ui-grid="gridOptions"></div>
                    </md-card>
                </div>
            </div>
        </section>
    </md-content>
    <md-sidenav style="height:100%;overflow-x: hidden;z-index:1000" layout-fill md-component-id="arena-right-side-nav" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="2">
        <div ng-if="currentSession.user != null && currentSession.user.isAdmin == false">
            <md-subheader class="md-no-sticky">
                <div>
                    <h2>Alert History ({{threatList.length}})</h2>
                </div>
            </md-subheader>
            <div layout="column" layout-align="start stretch">
                <md-list class="md-dense" flex style="max-height: calc(100vh - 160px); overflow-y: scroll;">
                    <md-list-item class="md-2-line" ng-repeat="threat in threatList">
                        <div class="md-list-item-text" layout="column">
                            <span style="word-break: break-all; font-size:14px; font-weight:400;">Pattern : {{ threat.pattern }}</span>
                            <span style="word-break: break-all; color: grey; font-size: 12px;">Time : {{ threat.date }}</span>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <div ng-if="currentSession.user != null && currentSession.user.isAdmin == true">
            <md-list>
                <md-card>
                    <md-list-item style="padding:0px 10px;" , layout="row" layout-align="start stretch">
                        <h4 flex>Button Matrix Settings</h4>
                        <md-button layout="row" , layout-align="center center" class="md-fab md-mini" , ng-click="showButtonSettings($event)">
                            <i class="material-icons">settings</i>
                        </md-button>
                    </md-list-item>
                </md-card>
                <md-card>
                    <div layout="row" layout-align="start center" style="padding:0px 10px;">
                        <h4 flex>Blacklisted Sequences ({{adminSettings.blacklistedPatterns.length}})</h4>
                        <md-button layout="row" , layout-align="center center" ng-click="addPattern($event, 'add', pattern)" aria-label="edit pattern" class="md-fab md-mini"><i class="material-icons">add</i></md-button>
                    </div>
                    <div style="max-height: calc(100vh - 201px); overflow-x: scroll;">
                        <md-list-item style="padding:0px 10px; background:{{$even?'whitesmoke':'transparent';}}" layout="row" layout-align="start stretch" ng-repeat="pattern in adminSettings.blacklistedPatterns" class="noright">
                            <p layout="row" layout-align="start center" style="word-break: break-all;"><span style="color:grey; font-style: italic; padding-right:5px;">{{$index+1}}.</span> {{ pattern.pattern }}</p>
                            <md-icon ng-click="editPattern($event, 'edit', pattern)" aria-label="edit pattern" class="md-secondary md-hue-3"><i class="material-icons">mode_edit</i></md-icon>
                            <md-icon class="md-secondary" ng-click="deletePattern($event, 'delete', pattern)" aria-label="delete pattern"><i class="material-icons">delete</i></md-icon>
                        </md-list-item>
                    </div>
                </md-card>
            </md-list>
        </div>
    </md-sidenav>
</section>