<md-content flex layout="column" class="admin-notifications" ng-model="rightSideBar">
    <md-subheader class="md-secondary" style='max-height:32px; margin-top:-1px;margin-left:-2px;'>
        {{arenaSidenavHeader}}
    </md-subheader>
   </md-content>
