
#migrator-wordle-container text:hover {
  transition: opacity .2s ease-in;
  opacity: .4 !important;
  cursor: pointer;
}

ul {
    list-style: none;
}
.box {
    height: 100%;
    border: 1px solid rgba(33, 33, 33, 0.08);
    background-color: #fff;
    cursor:default;
}

.box-header:hover {
	background-color: whitesmoke;
}

.box-header {
    transition:all .5s linear;
    cursor: move;
    overflow:hidden;
    height:40px;
}
.box-header h3 {
    width: 100%;
    margin: 5px;
    display: inline-block;
}
.box-content {
    height: calc(100% - 40px);
    padding: 0px;
    overflow:hidden;
}
.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
a {
    color: #ccc;
}
form {
    margin-bottom: 0;
}

.dashboard-widget-title
{
	margin-left: 5px;
    margin-top: 4px;
    font-size: 18px;
}

.migrator-donut-title-style
{
    position: absolute;
    margin-top: 150px;
    width: 100%;
    font-family:inherit !important;
}

.migrator-pie-widget-alarm-style
{
    color: white !important;
    background: #f44336 !important;
	border-color:#f44336 !important;
	cursor:pointer;
}

.migrator-pie-widget-no-alarm-style
{
    width: 110px;
	margin-top: 7px;
	border-style:solid;
	border-color:light-grey;
	border-width: 1px;
	border-radius:1px;
 	padding: 3px 10px;
    color: grey;
    background: white;
	font-size: 17px;
}

.migrator-font-color-transition
{
	transition : all 0.5s ease-in;
}

.nvtooltip .key,.migrator-donut-tooltip-style
{
	color:#212121;
}

.migrator-pie-widget .nv-pieLabels text
{
 	font-size:12px;
	fill: white !important;
}

migrator-chart-legends
{
	position: absolute;
    font-family:inherit;
}

.migrator-pie-chart-legend-box-style
{
    height: 9px;
    width: 9px;
    border-radius: 100%;
}

.migrator-pie-widget-dot-style
{
	opacity:0.6;
	font-size: 4px;
}

/*
.migrator-legends-style:hover
{
	cursor:pointer;
}
*/

.migrator-pie-widget .nv-slice
{	
	cursor:pointer;
}

.migrator-pie-widget .nvd3.nv-pie path
{
	fill-opacity:1 !important;
}

.vertical-selector-selected-style
{
	opacity:1 !important;
}

.vertical-selector-normal-style
{
	opacity:.4;
	cursor:pointer;
	transition:opacity .2s ease-in;
}

.vertical-selector-normal-style:hover
{
	opacity:1;
}

.horizontal-selector-selected-style
{
	opacity:1 !important;
	background:#53585F !important;
	color:white !important;
    border-color: #53585F !important;
}

.horizontal-selector-normal-style
{
    opacity: .8;
    border-radius:2px;
    font-size:12px;
    cursor: pointer;
    transition: all .2s ease-in;
    border-style: solid;
    border-width: 1px;
    padding: 0px 4px;
    margin-left: -1px;
    background:white;
    border-color: lightgrey;
}

.horizontal-selector-normal-style:hover
{
	background:#53585F !important;
	color:white !important;
    border-color: #53585F !important;
}

.data-transfer-counter-common-style
{
	transition: transform .3s ease-out;
}

.data-transfer-counter-common-style.ng-hide
{
	transform: translateY(40%)rotateX(90deg);	
}

.data-transfer-counter-common-style.ng-hide-add
{
	transition: transform .2s ease-in !important;
}

.data-transfer-counter-common-style.ng-hide-add.ng-hide-add-active
{
	display:block !important;
    transform: translateY(-40%)rotateX(-90deg) !important;
}

.data-transfer-counter-common-style.ng-hide-remove
{
    transform: translateY(40%)rotateX(90deg) !important;	
}

.data-transfer-units-style
{
	position:absolute;
}


.migrator-widget-loader
{
	transition: opacity .3s ease-in;
	opacity:1;
}

.migrator-widget-loader.ng-hide-add
{
	transition: opacity .15s ease-out;
}
.migrator-widget-loader.ng-hide-add.ng-hide-add-active
{
	display:block !important;
    opacity: 0 !important;
}

.migrator-widget-loader.ng-hide-remove
{
	transition: opacity 0s ease-in;
	opacity:0;	
}

.migrator-calendar-day-container-style
{
    transition: color 1.5s, background 1.5s ease-in;
    text-align: center;
    width: 24px;
    height: 24px;
    font-size: 14px;
    margin: 5px 5px;
    padding-top: 1px;
    border-radius: 100%;
    cursor:default;
}

.migrator-calendar-job-end-day-style
{
    background: #70bf41 !important;
    color: white !important;
    cursor:pointer !important;
}

.migrator-calendar-inactive-day-style
{
	color : lightgrey;
}

.migrator-calendar-active-day-style
{
	color : black;
}

.migrator-calendar-month-label-style
{
    /*position: absolute;*/
    margin-top: -14px !important;
    font-size: 9px !important;
}

.migrator-calendar-today-style
{
	font-weight: 500 !important;
}


#migrator-dashboard-gridster md-slider .md-track.md-track-fill
{
	min-width: 100%;
}

.migrator-migrator-normal-now-style
{
	transition:all .25s ease-out;
	padding: 0px 7px;
	font-size:12px;
	margin-left:10px;
	color:grey;
	border-style:solid;
	border-color:grey;
	border-radius:2px;
	border-width:1px;
	cursor:pointer;
}

.migrator-migrator-realtime-now-style
{
	border-color:#70BF41;
	background:#70BF41;
	color:white;
}

#migrator-dashboard-gridster md-slider .md-thumb-container
{
	transition:left .25s ease-out;
}

.migrator-migrator-slider-container-style
{
	height: 25px;
    width: calc(100% - 124px);
    position: absolute;
    margin-top: -12px;
    bottom: 10px;
    margin-left: 28px;
}

.migrator-chart-floating-arrow-style
{
    /*
    background: rgba(0, 0, 0, 0.39);
    border-radius: 100%;
    */
    position: absolute;
    color:darkgrey !important;
    background:transparent;
    transform: scale(1.7);
    transition: transform .1s linear;
}

.migrator-chart-floating-arrow-style:hover
{
    transform: scale(2.5);
}

.migrator-chart-floating-arrow-left-style
{
    margin-left:30px;
}

.migrator-chart-floating-arrow-right-style
{
    margin-right:30px;
}

.migrator-animate-chart rect
{
	transition: height,y .15s linear !important;
    transform-origin: top !important;
}

.migrator-animate-chart.nv-line
{
	transition : d .3s linear !important;
}

.migrator-data-charts-base-class .nv-groups rect {
    fill-opacity: 1 !important;
}

.migrator-data-charts-base-class .nv-groups rect:hover {
    fill-opacity: .7 !important;
}

.migrator-graph-calendar-text
{
	font-size:12px;
	cursor:pointer;
}

.migrator-graph-calendar-container .md-datepicker-input-container
{
	height: 0px !important;
    width: 0px !important;
    overflow: hidden !important;
}

.migrator-graph-calendar-container
{
    margin-top:-5px;
}

.migrator-graph-calendar-container .md-datepicker-button.md-icon-button
{
    padding: 0px !important;
    margin: 0px !important;
    height: 25px !important;
    min-height: 25px !important;
    width: 25px !important;
}

.migrator-graph-calendar-container .md-datepicker-calendar-icon
{
	transform: scale3d(.75,.75,1);
    margin-top: -4px;
}

.migrator-data-charts-base-class .nv-multiBarWithLegend text, .nv-multiBarWithLegend line
{
	opacity:1 !important;
}

.migrator-data-charts-base-class line.hide-ticks
{
	transition:opacity .25s linear;
	opacity:0 !important;
}

.migrator-throughput-unit-display-style
{
    position: absolute;
    margin-top: 24px;
    margin-left: 62px;
    font-size: 13px;
    left:2px;
}

.gridster .handle-s
{
    height:3px !important;
}

.gridster .handle-w,.gridster .handle-e, 
{
    width:3px !important;
}

.twuizt-arena-options-disabled
{
    color:#928686 !important;
}

.twuizt-arena-options-enabled span
{
    transition:all .25s ease-out;
    color:white;
    transform: scale(1.4, 1.4);
    background-color: #green !important;
}

.twuizt-timeout-div
{
    min-height:60px;
    min-width:60px;
    max-width:60px;
    height:100%;
    margin:-5px 0 0 0;
    z-index:500;
    transition:all 1s ease-out;
    border-radius:50%;
}

.hud-score-display-style
{
    background-color: rgba(0, 0, 0, 0.94);
    min-width: 175px;
    color: white;
    opacity: .85;
    padding: 3px;
}

.hud-fancy-bar
{
    height: 17px;
    background-color: rgba(0, 0, 0, 0.94);
    position: absolute;
    width: 50vw;
    opacity: .85;
    bottom: 0px;
}

md-progress-linear.timer-critical.md-migrator-grey-theme .md-container {
    background-color: pink;
}

md-progress-linear.timer-critical.md-migrator-grey-theme .md-bar {
    background-color: red;
}

md-progress-linear.timer-warning.md-migrator-grey-theme .md-container {
    background-color: lemonchiffon;
}

md-progress-linear.timer-warning.md-migrator-grey-theme .md-bar {
    background-color: orange;
}

md-progress-linear.timer-safe.md-migrator-grey-theme .md-container {
    background-color: lightgreen;
}

md-progress-linear.timer-safe.md-migrator-grey-theme .md-bar {
    background-color: green;
}

::-webkit-scrollbar { 
    display: none; 
}

input[type="text"].ui-grid-filter-input {
    padding:0px;
}