<!-- Template for Path selection overlay -->
<md-dialog ng-cloak style="min-width: 375px; max-height:410px; min-height: 380px; max-width: 506px;" aria-label="{{dialogue.title}}" layout="column" layout-align="start stretch">
    <md-toolbar style="overflow:hidden;transition: background 1s cubic-bezier(0,6,0,0); height: 52px; background:{{teamObj.color.hex}};" layout="row" layout-align="center center">
        <label style="font-weight: 400;" class="word-wrap-style">Button Settings</label>
    </md-toolbar>
    <md-dialog-content layout="column" layout-align="center stretch" style="overflow-x:hidden;min-height:242px;" class="md-dialog-content" flex>
        <form name="adminSettingsForm">
            <div layout="column" layout-align="start stretch">
                <div style="padding:0px 10px;">
                    <md-input-container class="md-block">
                        <label>Columns</label>
                        <input required type="number" step="any" name="columns" ng-model="buttonSettings.columns" min="1" max="100" />
                        <div ng-messages="adminSettingsForm.columns.$error" multiple md-auto-hide="false">
                            <div ng-message="required">
                                Enter a positive number
                            </div>
                            <div ng-message="min">
                                Number must be positive
                            </div>
                            <div ng-message="max">
                                Number should be below 100
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Rows</label>
                        <input required type="number" step="any" name="rows" ng-model="buttonSettings.rows" min="1" max="100" />
                        <div ng-messages="adminSettingsForm.rows.$error" multiple md-auto-hide="false">
                            <div ng-message="required">
                                Enter a positive number
                            </div>
                            <div ng-message="min">
                                Number must be positive
                            </div>
                            <div ng-message="max">
                                Number should be below 100
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center" style="padding:0 24px">
        <md-button md-ink-ripple aria-label="CANCEL" ng-click="cancelButtonSettings()">
            CANCEL
        </md-button>
        <md-button md-ink-ripple aria-label="DONE" ng-click="saveButtonSettings()", ng-disabled="adminSettingsForm.$valid != true">
            SAVE
        </md-button>
    </md-dialog-actions>
</md-dialog>