<!-- Template for Path selection overlay -->
<md-dialog ng-cloak style="min-width: 375px; max-height:410px; min-height: 380px; max-width: 506px;" aria-label="{{dialogue.title}}" layout="column" layout-align="start stretch">
    <md-toolbar style="overflow:hidden;transition: background 1s cubic-bezier(0,6,0,0); height: 52px; background:{{teamObj.color.hex}};" layout="row" layout-align="center center">
        <label style="font-weight: 400; text-transform: capitalize;" class="word-wrap-style">{{mode}} Pattern</label>
    </md-toolbar>
    <md-dialog-content layout="column" layout-align="center stretch" style="overflow-x:hidden;min-height:242px;" class="md-dialog-content" flex>
        <form name="adminSettingsForm">
            <div layout="column" layout-align="start stretch">
                <div style="padding:0px 10px;">
                    <md-input-container class="md-block" style="max-width: 300px;">
                        <label>Pattern</label>
                        <textarea style="max-height: 174px;" required name="patternString" ng-model="pattern.pattern" ng-pattern="/^(0*[1-9]\d*)(\s*\,\s*(0*[1-9]\d*))+\s*$/", ng-change="resetDuplicateError()">
                        </textarea>
                        <div ng-messages="adminSettingsForm.patternString.$error" multiple md-auto-hide="false">
                            <div ng-message="required">
                                Pattern cannot be empty
                            </div>
                            <div ng-message="pattern">
                                Pattern must be comma separated numbers greater than zero
                            </div>
                            <div ng-message="duplicate">
                                Pattern already exists. Enter a unique pattern.
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center" style="padding:0 24px">
        <md-button md-ink-ripple aria-label="CANCEL" ng-click="cancelPatternSettings()">
            CANCEL
        </md-button>
        <md-button md-ink-ripple aria-label="DONE" ng-click="updatePatternSettings(pattern)", ng-disabled="adminSettingsForm.$valid != true || adminSettingsForm.$pristine">
            {{mode=='add'?'ADD':'UPDATE'}}
        </md-button>
    </md-dialog-actions>
</md-dialog>