// Login
.login-frame {
  md-card {
    max-width: 400px;
    margin: auto;
  }
  md-checkbox {
    margin: 0;
  }
  img {
    max-height: 100px;
    width: auto;
  }
  md-toolbar {
    .md-headline {
      margin: 0;
    }
  }
  .md-primary:not(.md-raised) {
    text-transform: none;
  }
}

// Authentication Pages
.authentication-page {
  background: url(../assets/images/backgrounds/bg-3.jpg) center;
  background-size: cover;
}

#ui-login {
  &.ng-enter {
    @include slideInUp($delay: 0.5s);
  }
  &.ng-leave {
    @include slideOutDown();
  }
}

.twuizt-login-screen-style
{
  background: #b6eae1; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#D2FBAD,#b6eae1); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#D2FBAD,#b6eae1); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#D2FBAD,#b6eae1); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#4CA1AF,#b6eae1); /* Standard syntax (must be last) */


}

.twuizt-play-button:hover
{
  background-color:#0277BD !important;
}