<div ng-cloak layout="row" flex layout-padding layout-fill layout-align="center center" class="twuizt-login-screen-style">
    <md-card ng-model="loginModel" md-whiteframe="{{height}}" ng-init="height = 5" ng-mouseenter="height = 8" ng-mouseleave="height = 5">
        <md-content class="md-padding" style="overflow: hidden; padding: 25px; width:250px; height: 110px;">
            <h1 layout="row" layout-align="center center" class="md-headline" style="color: #424242; font-size: 46px; font-weight: 300; font-style: inherit; opacity: 0.8;">
                    Fire.io
                </h1>
            <div layout="row" layout-align="center center">
                <md-progress-circular md-mode='indeterminate' ng-show="loginModel.isLoaderActive != false" class="md-hue-2" md-diameter="25px" style="margin-top:25px"></md-progress-circular>
                <md-button ng-show="loginModel.isLoaderActive == false" ng-click="clickHandler()" style="text-transform: initial; background-color: #424242" class="twuizt-play-button md-fab md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10">
                    <md-icon style="font-size: 32px;" class="material-icons">play_circle_filled</md-icon>
                </md-button>
            </div>
        </md-content>
    </md-card>
    <twuizt-google-authentication config="twuiztGoogleAuthConfig" style="padding:0"></twuizt-google-authentication>
</div>
