<div layout="row" ng-controller="AdminController" class="full-height">
    <!-- left sidebar -->
    <md-sidenav layout class="admin-sidebar-left md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-close="true" ui-view="sidebarLeft" ng-class="menuClass()" ng-mouseover="activateHover()" ng-mouseleave="removeHover()"></md-sidenav>
    <!-- main content -->
    <div layout-fill id="admin-panel" layout="column" flex>
        <!-- loading animation -->
        <!-- <tri-loader></tri-loader> -->
        <migrator-api-loader></migrator-api-loader>
        <!-- top toolbar -->
        <div id="migrator-toolbar-container">
            <md-toolbar id="migrator-toolbar" class="admin-toolbar"  md-theme="{{MigratorSkins.elements.toolbar}}" ui-view="toolbar">
            </md-toolbar>
        </div>
        <md-content layout-fill id="migrator-content-area" flex layout="column">
            <migrator-ui-loader></migrator-ui-loader>
            <div layout-fill admin-panel-content flex ui-view="content"></div>
            <!-- right sidebar -->
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="rightSideBar" ui-view="sidebarRight">
                <div flex ui-view="sidebarRight"></div>
            </md-sidenav>
        </md-content>
    </div>
</div>
