// Admin Content area
.gaussian-blur-style
{
  filter:blur(2px);
}

#admin-panel {
  overflow: hidden;
  position: relative;
  > md-content {
    z-index: 3;
  }
}
#admin-panel-content-view {
  display: block;
  position: relative;
  //padding-bottom: 65px;
  //min-height: calc(100vh - 64px);
  -webkit-backface-visibility: hidden;
}


// Side menu Bar
.admin-sidebar-left {
  overflow-x:hidden !important;
}
.admin-sidebar-left.md-locked-open {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  -ms-overflow-style: none; /* ie fix for removing scrollbars */
  &.admin-sidebar-collapsed {
    min-width: 48px;
    max-width: 48px;
    transition: all .3s;
    &.hover {
      min-width: 180px;
      max-width: 180px;
    }
  }
  &.is-collapsing {
    min-width: 48px;
    max-width: 48px;
    transition: all .3s;
  }
}

// Toolbar
.admin-toolbar {
  //box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
  z-index: 4;
  .md-button {
    height: 48px;
  }
}
