// Logo
.sidebar-left-toolbar {
  box-shadow: 0px 1px 0px rgba(0,0,0,0.12);
  z-index: 10;
  min-height:540px;
}

.sidebar-left-logo {
  flex-shrink: 0;
  img {
    max-height: 64px;
    vertical-align: top;
    margin-right: 4px;
    transform: translateX(-4px);
  }
}

.sidebar-left-icon {
  margin-right: -16px !important;
}

.migrator-custom-signout-button
{
    display: block;
    text-align: left;
    height: 48px;
    font-size:small;
    padding: 0px 16px;
    margin: 0px;
    text-transform: none;
    border-radius: 0 !important;
    white-space: normal;
    line-height: 48px;
    position: relative;
    z-index: 2;
    box-shadow: none !important;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}