<md-toolbar class="sidebar-left-toolbar" md-theme="{{MigratorSkins.elements.logo}}">
    <div class="md-toolbar-tools" style="min-height: 64px;" layout="row" layout-align="start center">
        <h2 flex layout="row" layout-align="center center">{{sidebarInfo.appName}}</h2>
    </div>
    <side-menu md-theme="{{MigratorSkins.elements['sidebar']}}"></side-menu>
    <md-button ng-click="logout()" class="md-primary md-raised side-menu-link">
        <md-icon class="side-menu-icon">eject</md-icon>
        Sign out
    </md-button>
    <div class="md-primary" layout="column" layout-align="center center" style="font-size: 12px; color: white;min-height:57px;" flex>
        <span ng-if="currentSession.user.isAdmin">
            <b class="faa-flash animated faa-slow" style="color:red;">Admin Mode</b>
        </span>
        <span layout="row" layout-align="center center">
            <img ng-if="currentSession.user !=  null" style="height:25px;width:25px;border-radius:50%; margin-right:5px;" ng-src="{{currentSession.user.image}}">
            <span>
                Signed in as <b>{{currentSession.user.userName}}</b>
            </span>
        </span>
        <span>
            {{currentSession.user.email}}
        </span>
    </div>
</md-toolbar>
