// Breadcrumbs
.breadcrumb {
  display: inline-block;
}

// Toolbar Search
.toolbar-search {
  background: transparent;
  border: 0;
  color: inherit;
  font-size: 0.8em;
  transition: max-width .5s, opacity 0.3s .3s;
  display: block !important;
  max-width: 200px;
  opacity: 1;
  text-indent: 1em;
  &::placeholder {
    color: inherit;
  }
  &.ng-show {
    @include fadeIn();
  }
  &.ng-hide {
    transition: max-width .3s .3s, opacity 0.5s;
    max-width: 0px;
    opacity: 0;
  }
}

// Toolbar Avatar
.toolbar-user-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  vertical-align: middle;
}

// Button
.toolbar-button {
  md-icon {
    position: relative;
  }
}

// Badges
$tri-badge-size: 2.2rem;
.toolbar-button-badge {
  display: block;
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: 0.2rem;
  top: 0.8rem;
  line-height: 2rem;
  border-radius: 50%;
}

.toolbar-button-badge-new {
  @include wobble();
}

#custom-filter-style
{
    width: 100%;
    margin: 0px;
    height: 53px;
    top: -48px;
    //background:whitesmoke;
    color:grey !important;
    padding-left:10px;
}

.toolbar-button
{
    margin-right: 0px;
    margin-left: 0px;
}
#custom-filter-style md-card-content
{
    height: 100%;
    padding: 0px;
    padding-left: 10px
}

This styling is to reduce the spacing between buttons in the toolbar
.no-padding-button
{
  padding:0px !important;
  margin:0px !important;
}

.md-button.md-fab.md-mini {
      line-height: 4rem;
      width: 4rem;
      height: 4rem;
}

.migrator-custom-toolbar-icon {
      //line-height: 4rem !important;
      min-width: 7rem;
      //height: 4rem !important;
      margin: 0px !important;
      padding: 0px !important;
}

#migrator-toolbar-container
{
    margin-top: 0px;
    transition: all 0.400s ease-in-out;
}

.migrator-menu-button-style
{
  min-width:60px;
  padding:0px;
  margin:0px;
  margin-left:-10px;
}

.migrator-menu-button-style md-icon
{
  font-size:2em;
}


.migrator-filter-applied-style
{
    color:#76FF03 !important;
}

.migrator-notification-applied-style
{
    color:#F44336 !important;
}

md-toolbar md-icon
{
  font-size:2.3em !important;
}

.migrator-toolbar-breadcrumbs-style
{
  cursor: pointer;
  overflow:hidden;
}

.migrator-toolbar-title-style
{
  overflow:hidden;
}

.migrator-toolbar-breadcrumbs-style md-icon
{
  font-size: 1.7em !important;
}


.toolbar-icon-container-style
{
  width:50px;
}

.toolbar-title-label-style
{
  /*max-width : 200px;*/
  font-size : 20px;
  width:inherit;
  overflow:hidden;
}

.toolbar-title-secondary-label-style
{
    font-size : 20px;
    width:inherit;
    overflow:hidden;
    color:darkgrey;
}


.title-icon-main-details-separator-style
{
  font-size: 11px !important;
  margin-left: 5px;
  margin-right: 5px;
}

.toolbar-mask-on-content-load
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  z-index: 1;
  opacity: .3;
}