<div flex class="md-toolbar-tools" layout="column" ng-click='closeRightSideBar($event)' tabindex="-1" style="background-color: {{toolbarObj.color}};transition: background-color 1s ease-out">
    <div ng-class="{'toolbar-mask-on-content-load':isToolbarMasked}"></div>
    <div layout="row" layout-align="start center" style="width:100%;height:100%;">
        <md-button tabindex="-1" class="migrator-menu-button-style" ng-click="openLeftSideBar()" aria-label="side navigation">
            <md-tooltip md-direction="bottom">Main Menu</md-tooltip>
            <md-icon>menu</md-icon>
        </md-button>
        <div layout="row" layout-align="center center" ui-view="breadcrumb"></div>
        <div layout="row" layout-align="start center">
            <div twuizt-pagetitle></div>
            <span ng-if="currentSession.user.isAdmin">
            <b class="faa-flash animated faa-slow" style="color:red; font-size: 10px; padding-left: 10px;">Admin Mode</b>
        </span>
        </div>
        <div toolbar-action-icons></div>
        <md-button tabindex="-1" ng-click="openLeftSideBar()" class="migrator-menu-button-style" aria-label="user profile button" layout="row" layout-align="center center">
            <img ng-if="currentSession.user !=  null" style="height:40px;width:40px;border-radius:50%" ng-src="{{currentSession.user.image}}">
        </md-button>
    </div>
</div>