<!doctype html>
<html class="no-js" ng-app="twuizt">

<head>
    <meta charset="utf-8">
    <title>Fire.io</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <style>
    #migrator-custom-init-screen {
        position: absolute;
        /*background: #0277BD;*/
        background: #b6eae1; /* For browsers that do not support gradients */
        /* For browsers that do not support gradients */
        /*background: -webkit-radial-gradient(#B3E5FC, #0277BD);*/
        /*background: -webkit-radial-gradient(#E0EAFC, #CFDEF3);*/
        /* Safari 5.1 to 6.0 */
        /*background: -o-radial-gradient(#E0EAFC, #CFDEF3);*/
        /* For Opera 11.6 to 12.0 */
        /*background: -moz-radial-gradient(#E0EAFC, #CFDEF3);*/
        /* For Firefox 3.6 to 15 */
        /*background: radial-gradient(#E0EAFC, #CFDEF3);*/
        /* Standard syntax (must be last) */
        height: 100%;
        width: 100%;
        z-index: 80;
        color: white;
        font-size: 3em;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    }
    
    .twuizt-custom-loader-text {
        position: fixed;
        top: 50%;
        text-align: center;
        left: 50%;
        margin-left: -67px;
        margin-top: -63px;
        font-size: 46px;
        font-weight: 300;
    }
    </style>
    <!-- Place favicon.png in the root directory -->
    <link rel="icon" type="image/png" href="favicon1.png" />
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- endbuild -->
</head>

<body ng-class="{'gaussian-blur-style': isBlurActive == true}" ng-controller="TwuiztMainController">
    <div class="migratorSplashScreen" ng-if="isMigratorAppLoaded != true" id="migrator-custom-init-screen">
        <div class="twuizt-custom-loader-text">
            <span class="">Fire.io</span>
        </div>
    </div>
    <migrator-suspender></migrator-suspender>
    <div id="migrator-main-view" class="full-height" ui-view></div>
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
</body>

</html>
