.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 4 !important;
  overflow: hidden;
  h3 {
    font-size: 2rem;
  }
  &.ng-hide {
    @include fadeOut(1s, 1s, 0.5s, ease, both, hidden);
    .loader-inner {
      @include fadeOutDown(1s, 0.5s, 0.3s, ease, both, hidden);
    }
    h3 {
      @include fadeOutDown(1s, 0.5s, 0.1s, ease, both, hidden);
    }
  }
}

.migrator-loader-style
{
  transform: rotate(180deg);
  width: calc(100% + 300px);
  margin-left: -100px;
}

.migrator-content-loader
{
  position: absolute;
  top: 0;
  z-index: 4 !important;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .9;
  margin-top: 71px;

  h3 {
  font-size: 2rem;
  }
  
  &.ng-hide {
    @include fadeOut(1s, 1s, 0.5s, ease, both, hidden);
  }

  &.ng-show {
    @include fadeIn(1s, 1s, 0.5s, ease, both, hidden);
  }
}

.migrator-suspender-style {
    background: black !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:0.4;
    z-index: 1000 !important;
}

.migrator-suspender-style.ng-animate.ng-hide-animate.ng-hide-add.ng-hide
{
  opacity : 0 !important;  
}

.migrator-suspender-style.ng-animate.ng-hide-animate.ng-hide-add
{
  display:block !important;
  animation:.75s SuspendFadeOut ease-out;
}

.migrator-suspender-style.ng-animate.ng-hide-remove
{
  opacity:0;
  animation:1s SuspendFadeIn ease-in;
}

@keyframes SuspendFadeOut {
  0% {
    opacity: 0.4;
  }
  100%{
    opacity: 0;
  }
}

@keyframes SuspendFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}


md-content.migrator-api-loader {
  -webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;
  background: rgba(0, 0, 0, 0.40);
}
md-content.migrator-api-loader.ng-hide {
  opacity:0;
  background: rgba(0, 0, 0, 0);
}

.migrator-api-loader
{
  position: absolute;
  top: 0;
  z-index: 5 !important;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  
  h3 {
  font-size: 2rem;
  }
}


.migrator-grid-loader-linear
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0.3;
  width : calc(100% - 16px);
  /*z-index: 1 !important;*/
  overflow: hidden;
  h3 {
    font-size: 2rem;
  }
}

.migrator-grid-loader-circular
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0.5;
  z-index: 1 !important;
  overflow: hidden;
  h3 {
    font-size: 2rem;
  }
}

.migrator-grid-loader md-progress-linear
{
  margin-top:42px;
  width : calc(100% - 15px);
}

.migrator-ui-loader 
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0.5;
  z-index: 10 !important;
  overflow: hidden;
  h3 {
    font-size: 2rem;
  }
}
