<div ng-messages-multiple md-auto-hide="false" style="color:inherit;" ng-messages="errors.flags">
    <div style="color:inherit;" ng-repeat="type in errors.keys" ng-message-exp="'{{type.name}}'">
		{{errors.messages[type.name]}}
    </div>
</div>
<!-- 
<div ng-if="isInitialized" ng-messages-multiple ng-cloak id1={{id}} md-auto-hide="false" style="color:inherit;padding-top:2px;" class1="migrator-inline-messages-container-style" ng-messages="errors.flags">
    <div ng-class="{'ng-animate':'true'}" ng-cloak ng-style1="type.style" id1={{type.id}} class1="migrator-inline-message-style" style="color:inherit;" ng-repeat="type in errors.keys" ng-message-exp="'{{type.name}}'" ng-if1="errors.flags[type.name] && isInitialized == true">
        <div ng-init1="initMe($index, type.name, type.id)" ng-show1="showMessage[type.name]">{{errors.messages[type.name]}}</div>
    </div>
</div>
 -->