.inline-messages-container-style
{
    position: relative;
    display: block;
    order: 4;
    overflow: hidden;
    clear: left;
}

.inline-message-style
{
	position:relative;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    opacity: 1;
    padding-top: 0px;
	transition: height .3s cubic-bezier(.55,0,.55,.2);
}

.inline-message-style.ng-animate.ng-move,
.inline-message-style.ng-animate.ng-enter,
{
	transition: height .1s cubic-bezier(.55,0,.55,.2);
}

.inline-message-style.ng-animate.ng-leave{
	transition: height .3s cubic-bezier(.55,0,.55,.2);
}

.inline-message-style.ng-animate.ng-leave.ng-leave-active,
.inline-message-style.ng-animate.ng-move,
.inline-message-style.ng-animate.ng-enter{
   height: 0px !important;
}

.inline-message-style.ng-animate.ng-move.ng-move-active,
.inline-message-style.ng-animate.ng-enter.ng-enter-active{
}

inline-message .md-input-message-animation:not(.ng-animate) {
  opacity: 1;
  margin-top: 0px;
}

inline-message .ng-enter-prepare {
  	opacity: 0 !important;
  	margin-top: -100px !important;	
}