// Imports
@import "../assets/css/highlightjs/monokai.css";
@import "../../bower_components/animate.css-scss/animate.scss";

@import "./scss/contextual";
@import "./scss/font-awesome";
@import "./scss/google-material-icons";
@import "./scss/googlefonts";
@import "./scss/material-icons";
@import "./scss/material-overrides";
@import "./scss/print";
@import "./scss/typography";
@import "./scss/utilities";
@import "./scss/angular-gridster.min.scss";
@import "./scss/odometer-theme-train-station.scss";
@import "./scss/odometer-theme-default.scss";

#migrator-main-view.ng-enter, #migrator-main-view.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  transition:all .25s ease-in-out;
}

#migrator-main-view.ng-enter {
  opacity: 0;
}

#migrator-main-view.ng-enter-active {
  opacity: 1;
}

#migrator-main-view.ng-leave {
  opacity: 1;
}

#migrator-main-view.ng-leave-active {
  opacity: 0;
}


.migratorSplashScreen.ng-leave.ng-leave-active {
  opacity:0;
}

.migratorSplashScreen.ng-leave{
  opacity:1;
}

html, body {
  height: 100%;
  overflow-y: hidden !important;
}

// injector

// endinjector

.migrator-status-icon
{
	height: 48px;
	width: 48px;
}

.k-grid
{
  transition: width 250ms;
}

.k-grid-content
{
  transition: height 250ms;
}


.md-datepicker-input-container
{
  width:100px;
  height: 19px;
  margin-top: 5px;
  margin-left: 0px;
}

.migrator-grid-common-style
{
    height:0px;
    widht:0px;
}

.migrator-error-message-color-style
{
  color : #CC1616 !important;
}

.migrator-tab-details-parent-container-style
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: white;
    z-index : 2;
}

.migrator-add-entity-parent-container-style
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: white;
    z-index : 2;
}

.migrator-edit-entity-parent-container-style
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: white;
    z-index : 2;
}

.k-grid-norecords-template
{
  width : 100%;
}

.tab-details-md-tabs-container-style
{
  width:100%;
}

.migrator-info-message-color-style
{
  color : grey !important;
}

.sync-history-icon-style{
    font-weight: 900;
    font-size: 1.6em;
}
.sync-history-success-style{
    color:green;
}
.sync-history-failure-style{
    color:red;
}

.grid-message-container-style
{
  min-width:200px;
  display:table;
  z-index:1;
  background:white;
  color:grey;
  height:100%;
  width:100%;
}

.migrator-test-json-container-style
{
  display:flex;
  width:100%;
  overflow:auto;
}

.migrator-test-json-object-style
{
  overflow:auto;
}


 pre {outline: 0px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.custom-test-driver-error-container-style
{
  padding : 10px;
}

a.k-icon.k-plus:hover:after1 {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: #fff !important;
    content: "Menu";
    padding: 9px 16px;
    position: absolute;
    z-index: 98;
    font-size: 14px;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    font-weight: 500;
}
.grid-message-container-style md-icon
{
  margin-left:50px;
  display:table-cell;
  vertical-align:top;
  text-align:left;
  padding-left:10px;
}

.k-grid-norecords-span-style
{
  display:table-cell;
  font-size:18px;
  vertical-align:top;
  line-height: 30px;
  text-align:left;
  padding:10px;
}

.grid-loader-icon-mask-animation {
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-delay: 1;
}

.grid-loader-icon-mask-style {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:white;
  opacity:.4;
  width:33%;
  height:25%;
  margin-top:50%;
}

@keyframes move {
  0% {
    margin-left: -33%;
  }
  10% {
    margin-left: 0%;
  }
  30%{
    margin-left:0%;
  }
  40%{
    margin-left: 33%;
  }
  60% {
    margin-left: 33%;
  }
  70% {
    margin-left: 66%;
  }
  90% {
    margin-left: 66%;
  }
  100% {
    margin-left: 100%;
  }
}


.k-grid .k-state-selected {
  background-color: inherit !important;
  color: inherit !important;
}


.k-grid-content .k-master-row td.k-hierarchy-cell
{
  height:50px;
}

//Global styling for kendo grid to align the headers to the center
.k-grid a.k-link {
    text-align: left;
    color : #424242 !important;
}

.k-grid-header th.k-header>.k-link {
    padding: .462em 0.5em !important;
}

//styling on expanded row
.k-detail-row
{
  padding:0px !important;
}

td.k-detail-cell
{
  padding:0px !important;
}

.k-grid td
{
    line-height: 1.2em;
    padding: 0.4em 0.5em 0.3em 0.5em !important;
}

.k-grid tr.k-detail-row td
{
    padding: 0px;
    border-style:none;
}

.k-virtual-scrollable-wrap
{
     position:relative;
}

.make-transparent
{
  color:transparent;
}

.mgDatePickerStyle .md-datepicker-button{
  display:none;
}

.mgDatePickerStyle .md-datepicker-expand-triangle{
  display:"block !important" ;
}

.mgDatePickerStyle .md-datepicker-triangle-button{
  display:"block !important";
}

.migrator-toolbar-title-style{
  height:48px;
}
.migrator-breadcrumb-style{
 height:48px;
}

.migrator-alarm-class  md-icon{
  color:#FF9800 !important;
}
.migrator-alarm-class{
 color:#FF9800 !important;
}

md-toast.md-inlineToasterror-theme .md-toast-content {
  background-color: #F44336;
  color: whitesmoke;
}
